{% extends "common/base.html" %}

{% block title %}
Comments for {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<h1>Comments for <a href="/{{ author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a></h1>
<h2>by {% for author in authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</h2>

<nav class="chapter-navigation">
  <p><a href="/{{ author_path }}/{{ story.url_fragment }}/">Back to story index</a></p>
  <p><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/">Back to the chapter</a></p>
</nav>

{% if can_write_comment %}
<article class="new_comment">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/new/" method="POST">
    <textarea name="message" class="story_description" placeholder="Write a comment for this story..."></textarea>
    <input type="submit" value="Add a comment" />
  </form>
</article>
{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% for comment in comments %}
<article class="comment" id="comment_{{ comment.id }}">
  <header class="comment-header">
    <a class="comment-username" href="/@{{ comment.user_username }}/">{{ comment.user_display_name }}</a>
    <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment.id }}/">{{ comment.created }}</a>
    {% match comment.edited %}
      {% when Some with (edited) %}
        <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment.id }}/">(edited {{ edited }})</a>
      {% when None %}
    {% endmatch %}

    {% if is_administrator %}
      <a class="comment-admin-actions" href="/admin/comments/{{ comment.id }}/">(admin actions)</a>
    {% endif %}
    {% if comment.is_already_reported %}
      <form class="comment-report link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/unreport/{{ comment.id }}/" method="POST">
        <button class="link-like">(undo report)</button>
      </form>
      <div class="comment-already-reported">already reported&nbsp;</div>
    {% elseif comment.can_report %}
      <a class="comment-report" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/report/{{ comment.id }}/">(report)</a>
    {% endif %}
    {% if comment.can_delete %}
      <a class="comment-delete" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/delete/{{ comment.id }}/">(delete)</a>
    {% endif %}
    {% if comment.can_edit %}
      <a class="comment-edit" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/edit/{{ comment.id }}/">(edit)</a>
    {% endif %}
    {% if comment.can_reply %}
      <a class="comment-reply" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/reply/{{ comment.id }}/">(reply)</a>
    {% endif %}
  </header>
  <section class="comment-contents">
    {{ comment.formatted_comment|san|safe }}
  </section>
</article>
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
