{% extends "common/base.html" %}

{% block title %}
Export instructions for story {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edition_navigation">
  <h1>Export instructions for story {{ story.title }}</h1>
  <nav>
    <ul>
      {% for author in authors %}
        <li><a href="/@{{ author.username }}/">Back to author {{ author.display_name }}</a></li>
      {% endfor %}
      <li><a href="/{{ author_path }}/{{ story.url_fragment }}/">Back to story {{ story.title }}</a></li>
    </ul>
  </nav>
</article>

<article>
  <h2>Instructions for Archive of our Own / OTWArchive export</h2>
  <p>
    In order to export to Archive Of Our Own, or to any other website relying on the OTWArchive back-end,
    you can copy/paste the following link(s) to the import feature on your target website.<br/>
    Please make sure to select the "chapter" import mode if you are importing several chapters.
  </p>
  <p>
    Note that there is limitations to the OTWArchive importer which will impact your story and chapters, mainly:
    <ul>
      <li>The foreword and afterword cannot be automatically detected by the OTW importer. Instead, they will be included as part of the chapter's text.</li>
      <li>Most of the tags will be lost. Only tags whose names match exactly between the two websites will be transferred.</li>
    </ul>
  </p>
  <pre>{% for chapter in chapters %}{{ site.base_url }}/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/otw-export.html
{% endfor %}</pre>
</article>

{% endblock %}
