{% extends "common/base.html" %}

{% block head %}
<style>
  #is_collaboration:not(:checked) ~ * ~ #collaboration_authors {
    display: none;
  }
  #is_collaboration:checked ~ * ~ label p #url_example_author {
    display: none;
  }
  #is_collaboration:not(:checked) ~ * ~ label p #url_example_collaboration {
    display: none;
  }

  #direct-input-choice:not(:checked) ~ * ~ #direct-input-content {
    display: none;
  }
  #file-input-choice:not(:checked) ~ * ~ #file-input-content {
    display: none;
  }
</style>
<script src="/js/tinymce/tinymce.min.js"></script>
<script src="/js/required_fields.js"></script>
{% endblock %}

{% block title %}
Submit a new story - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edit_contents">
  <header>
    <h1>Submit a new story</h1>
  </header>
  <form action="/submit/" method="POST" enctype="multipart/form-data">
    <h2>Story</h2>
    <label>
      <p>
        Story Title<br />
        <input type="text" name="title" class="input-full-width" data-is-required-field-for="main" data-field-name="Story Title" id="default_story_title" />
      </p>
    </label>
    <label>
      <p>
        Story URL<br />
        Note : This is limited to 32 characters and will not be editable later<br />
        <span>/@{{ current_username }}/</span>
        <input type="text" name="url_fragment" data-is-required-field-for="main" data-field-name="Story URL" data-extra-checks="story_url" placeholder="MyStoryUrl" id="default_story_url" />
        /
      </p>
    </label>
    <label>
      <p>
        Description (280 characters maximum)<br />
        <h3 id="story_description_error_message" style="color: red; display: none;">
          Your description has more than 280 characters (<span id="story_description_characters_count">0</span> characters)
        </h3>
        <textarea id="story_description" class="story_description" name="description"></textarea>
      </p>
    </label>

    <label>
      <p>
        Foreword<br />
        <textarea id="foreword" class="story-editor author-note" name="foreword">
          {{ default_foreword|san }}
        </textarea>
      </p>
    </label>

    <h2>Contents of the story / the first chapter</h2>
    <p><em>Note: Other chapters can be added to the story later</em></p>
    <p>
      Choose your input mode :
    </p>
    <input id="direct-input-choice" type="radio" name="input_choice" value="direct" checked />
    <label for="direct-input-choice">Create the story or first chapter using the text editor</label><br />
    <input id="file-input-choice" type="radio" name="input_choice" value="file" />
    <label for="file-input-choice">Upload a file</label><br />

    <div id="direct-input-content">
      <textarea id="content" class="story-editor" name="content"></textarea>
    </div>
    <label id="file-input-content">
      <p>
        Choose a file to upload:
        <input type="file" name="file" />
        <br />
        <em>
          Supported formats are: Word document (.docx), E-book (.epub), HTML (.html), Plain text (.txt), Markdown (.md), OpenDocument (.odt)
        </em>
      </p>
    </label>

    <label>
      <p>
        Afterword<br />
        <textarea id="afterword" class="story-editor author-note" name="afterword">
          {{ default_afterword|san }}
        </textarea>
      </p>
    </label>

    <h2>User interaction</h2>

    <fieldset>
      <legend>
        <h3>
          Comments
        </h3>
      </legend>
      <ul>
        <li><label><input type="radio" name="comment_mode" value="disable" {% if !default_comments_enabled %} checked {% endif %} />Do not allow comments</label></li>
        <li><label><input type="radio" name="comment_mode" value="enable" {% if default_comments_enabled %} checked {% endif %} />Allow comments</label></li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>
        <h3>
          Story Suggestions
        </h3>
      </legend>
      <p>
        <em>
          Story suggestions are a way for users to suggest your stories to others.
          These suggestions are displayed on the user's own page as well as on your
          story page.
        </em>
      </p>
      <ul>
        <li><label><input type="radio" name="recommendation_mode" value="disable" {% if RecommendationsState::Disabled == default_recommendations_enabled %} checked {% endif %} />Do not allow suggestions</label></li>
        <li><label><input type="radio" name="recommendation_mode" value="users_only" {% if RecommendationsState::UserOnly == default_recommendations_enabled %} checked {% endif %} />Allow suggestions, but do not show them on the story page</label></li>
        <li><label><input type="radio" name="recommendation_mode" value="enable" {% if RecommendationsState::Enabled == default_recommendations_enabled %} checked {% endif %} />Allow suggestions and show a link towards suggestions on the story page</label></li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>
        <h3>
          Show Chapter Index
        </h3>
      </legend>
      <label>
        <p>
          <input type="checkbox" name="is_multi_chapter" />
          Always show an intermediate "chapter index" page for this story
        </p>
      </label>
    </fieldset>

    <fieldset>
      <legend>
        <h3>
          Ongoing story / Continous publication
        </h3>
      </legend>
      <label>
        <p>
          <input type="checkbox" name="is_ongoing" />
          Show this story as "ongoing" to other users<br/>
        </p>
      </label>
      <p>
        <em>
          Note: If this option is selected, this story will keep showing up as "ongoing" until this setting is changed again.
          The opportunity to disable this setting will appear each time you upload a new chapter, and it can also always be accessed in the story settings screen.
        </em>
      </p>
    </fieldset>

    <p>
      <div data-is-error-field-for="main" style="display: none;" class="error-field"></div>
      <input type="submit" data-is-submit-field-for="main" value="Click to create a draft for a new story"><br />
      <em>(Note : this action will bring you to the tag screen, where you will be able to select tags for this story)</em>
    </p>
  </form>
</article>

<script type="application/javascript">
  "use strict";

  setupRequiredFieldsGroup(
    "main",
    {
      "story_url": function(url, callback) {
        checkStoryUrlAPI(false, "{{ current_username }}", url, function(result, err) {
          if (err) {
            callback(false, "Could not resolve request");
            return;
          }
          callback(result, result ? "" : "URL \"" + url + "\" is not available");
        });
      },
    },
    true
  );
</script>

<script type="application/javascript">
  "use strict";

  var default_story_title = document.getElementById("default_story_title");
  var default_story_url = document.getElementById("default_story_url");
  default_story_title.addEventListener('input', onStoryTitleChanged);
  default_story_title.addEventListener('keyup', onStoryTitleChanged);
  function onStoryTitleChanged() {
    var text = default_story_title.value;
    if(!text) {
      return;
    }
    text = text.trim();
    if(!text) {
      return;
    }
    text = text.replace(/[^a-zA-Z0-9_]/g, "");
    text = text.substring(0, 32);
    default_story_url.value = text;
  }
  
  var story_description = document.getElementById("story_description");
  var story_description_error_message = document.getElementById("story_description_error_message");
  var story_description_characters_count = document.getElementById("story_description_characters_count");
  var default_border_color = story_description.style.borderColor;
  story_description.addEventListener('input', onDescriptionChanged);
  story_description.addEventListener('keyup', onDescriptionChanged);
  function onDescriptionChanged () {
    var word_count = story_description.value.length;
    story_description_characters_count.innerText = word_count;
    if (word_count > 280) {
      story_description.style.borderColor = "rgba(255, 0, 0, 0.3)";
      story_description_error_message.style.display = "";
    }
    else {
      story_description.style.borderColor = default_border_color;
      story_description_error_message.style.display = "none";
    }
  }
</script>

{% include "common/rich_editor_init.html" %}

{% endblock %}
