{% extends "common/base.html" %}

{% block head %}
<style>
  #direct-input-choice:not(:checked) ~ * ~ #direct-input-content {
    display: none;
  }
  #file-input-choice:not(:checked) ~ * ~ #file-input-content {
    display: none;
  }
</style>
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
Submit a new chapter - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edit_contents">
  <header>
    <h1>Submit a new chapter</h1>
    <nav>
      <ul>
        {% for author in authors %}
        <li><a href="/@{{ author.username }}/">Back to author {{ author.display_name }}</a></li>
        {% endfor %}
        <li><a href="/{{ author_path }}/{{ story.url_fragment }}/">Back to story {{ story.title }}</a></li>
      </ul>
    </nav>
  </header>
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/new_chapter/" method="POST" enctype="multipart/form-data">
    <label>
      <h3>Chapter Title (optional)</h3>
      <input type="text" name="title" class="input-full-width" />
    </label>

    <label>
      <h3>Chapter Foreword (optional)</h3>
      <textarea id="foreword" class="story-editor author-note" name="foreword">
        {{ default_foreword|san }}
      </textarea>
    </label>

    <h3>Contents of the chapter</h3>
    <p><em>Note: Other chapters can be added to the story later</em></p>
    <p>
      Choose your input mode :
    </p>
    <input id="direct-input-choice" type="radio" name="input_choice" value="direct" checked />
    <label for="direct-input-choice">Create the chapter using the text editor</label><br />
    <input id="file-input-choice" type="radio" name="input_choice" value="file" />
    <label for="file-input-choice">Upload a file</label><br />

    <div id="direct-input-content">
      <textarea id="content" class="story-editor" name="content"></textarea>
    </div>
    <label id="file-input-content"><p>
        Choose a file to upload:
        <input type="file" name="file" />
        <br />
        <em>
          Supported formats are: Word document (.docx), E-book (.epub), HTML (.html), Plain text (.txt), Markdown (.md), OpenDocument (.odt)
        </em>
    </p></label>

    <label>
      <h3>Chapter Afterword (optional)</h3>
      <textarea id="afterword" class="story-editor author-note" name="afterword">
        {{ default_afterword|san }}
      </textarea>
    </label>

    {% if can_manage_publication %}
    <fieldset>
      <legend>
        <h3>Publication</h3>
      </legend>
      <p>
        Publication mode :
      </p>
      <ul>
        <li><label><input type="radio" name="publication_mode" value="do_not_publish" {% if DefaultPublicationMode::DoNotPublish == default_publication_mode %} checked {% endif %} />Draft</label></li>
        <li><label><input type="radio" name="publication_mode" value="publish_later" {% if DefaultPublicationMode::Later == default_publication_mode %} checked {% endif %} />Publish this chapter</label> at <input type="text" name="publication_time" value="{{ next_publication_date }}" /> (UTC+00)</li>
        <li><label><input type="radio" name="publication_mode" value="publish_now" {% if DefaultPublicationMode::Now == default_publication_mode %} checked {% endif %} />Publish this chapter immediately</label></li>
      </ul>

      {% match publication_availability %}
      {% when PublicationAvailability::BlockedByTags with (tag_list) %}
      <p style="color: red">
        Your story cannot be published because the following tags are not allowed:
      </p>
      <ul>
        {% for tag in tag_list %}
        <li>
          <a href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
          {% match tag.blocked_message %}
            {% when Some with (message) %}{{ message|san|safe }}
            {% when None %}
          {% endmatch %}
        </li>
        {% endfor %}
      </ul>
      <p style="color: red; font-style: italic">
        Note: Please do not remove the tags to circumvent this block.
      </p>
      {% when PublicationAvailability::CanBePublished %}
      {% endmatch %}

    </fieldset>
    {% endif %}

    {% if OngoingState::AlwaysOngoing.matches(story.ongoing_status) %}
    <fieldset>
      <legend>
        <h3>
          Ongoing story / Continous publication
        </h3>
      </legend>
      <label>
        <p>
          <input type="checkbox" name="is_last_chapter" /> This is the last chapter. Stop showing this story as "ongoing" to other users once all chapters are published.
        </p>
      </label>
    </fieldset>
    {% endif %}

    <p>
      <input type="submit" value="Click to create a new chapter">
    </p>
  </form>
</article>

{% include "common/rich_editor_init.html" %}

{% endblock %}
