<!DOCTYPE html>
<html>
<head>
  <title>
    {% if !is_standalone %}{{ chapter.chapter_title_or_number(false) }} - {% endif %}{{ story.title }}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="/theme/card-image.png">
  <meta name="twitter:image" content="/theme/card-image.png">
  <link rel="author" href="/{{ story_entry.author_path }}/">
  <meta name="author" content="{% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %}">
  {% for author in story_entry.authors %}
  <meta name="creator" content="{{ author.display_name }}">
  {% endfor %}
  <meta name="publisher" content="{{ persistent.site.name }}">
  <meta name="description" content="{{ trimmed_description_for_card }}">
  <meta name="created" content="{{ chapter.w3cdtf_formatted_first_publication() }}">
  <meta name="keywords" content="story,{% for (_, tag) in story_entry.major_tags %},{{ tag.display_name }}{% endfor %}{% for tag in persistent.site.tags %},{{ tag }}{% endfor %}">
  <meta name="rights" content="© {% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %} {{ publication_year }}-{{ current_year }}, all rights reserved">

  <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
  {% for author in story_entry.authors %}
  <meta name="dcterms.creator" content="{{ author.display_name }}">
  {% endfor %}
  <meta name="dcterms.subject" content="story {% for (_, tag) in story_entry.major_tags %} {{ tag.display_name }}{% endfor %}{% for tag in persistent.site.tags %} {{ tag }}{% endfor %}">
  <meta name="dcterms.description" content="{{ trimmed_description_for_card }}">
  <meta name="dcterms.publisher" content="{{ persistent.site.name }}">
  <meta name="dcterms.dateSubmitted" content="{{ chapter.w3cdtf_formatted_first_publication() }}">
  <meta name="dcterms.type" content="Text">
  <meta name="dcterms.format" content="text/html">
  <meta name="dcterms.rights" content="© {% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %} {{ publication_year }}-{{ current_year }}, all rights reserved">

  <meta property="og:title" content="{{ story.title }}">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ persistent.site.name }}">
  <meta property="og:description" content="{{ trimmed_description_for_card }}">
  <meta property="og:url" content="{{ persistent.site.base_url }}/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ story.title }}">
  <meta name="twitter:description" content="{{ trimmed_description_for_card }}">
  <meta name="twitter:url" content="{{ persistent.site.base_url }}/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}">
  {% if !is_standalone %}
  <link rel="alternate" href="{{ persistent.site.base_url }}/feed/{{ story_entry.author_path }}/{{ story.url_fragment }}" type="application/atom+xml" title="{{ story.title }} - Latest chapters">
  {% endif %}
  <meta name="nonfiction" content="false">
  {% if persistent.site.is_adult %}
  <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA">
  <script src="/js/age_verification.js"></script>
  {% endif %}
  <template id="content_for_otw_import">

    <div> Title: {{ story.title }} </div>
    {% if is_standalone %}
    <div> Chapter Title: {{ story.title }} </div>
    {% else %}
    <div> Chapter Title: {{ chapter.chapter_title_or_number(false) }} </div>
    {% endif %}
    {% for author in story_entry.authors %}
    <div> Author : {{ author.display_name }}</div>
    {% endfor %}

    {% if persistent.site.is_adult %}
    <div> Rating: explicit </div>
    {% endif %}

    {% for (_, tag) in story_entry.major_tags %}
    <div> Tag: {{ tag.display_name }} </div>
    {% endfor %}
    {% for (_, tag) in story_entry.minor_tags %}
    <div> Tag: {{ tag.display_name }} </div>
    {% endfor %}
    {% for (_, tag) in story_entry.spoiler_tags %}
    <div> Tag: {{ tag.display_name }} </div>
    {% endfor %}

    {% if !story_entry.description.is_empty() %}
    <div> Summary: {{ story_entry.description.inner }} </div>
    {% endif %}
  </template>
</head>

<body {{ persistent.get_classes()|safe }}>
  {% if persistent.site.is_adult %}
  <div id="age-verification" style="display: none;">
    <div id="age-verification-modal">
      <h1>Age verification required</h1>
      <button id="age-verification-button" onclick="age_verified()">I am 18 years old or older.</button>
      <br />
      <label>
        <input type="checkbox" id="age-verification-permanent" />
        Remember me
      </label>
      <input type="hidden" id="age-verification-secure-cookie" value="{{ persistent.site.secure_cookies }}" />
    </div>
  </div>
  {% endif %}

  <div class="chapter-content">
    {% if !self.chapter.foreword.is_empty() %}
    <div>
      Foreword:
      {{ self.chapter.foreword|san|safe }}
    </div>
    {% endif %}

    <section>
      {{ self.chapter.content|san|safe }}
    </section>

    {% if !self.chapter.afterword.is_empty() %}
    <div>
      Afterword: {{ self.chapter.afterword|san|safe }}
    </div>
    {% endif %}
  </div>
</body>
