{% extends "common/base.html" %}

{% block title %}
Edit tags for story {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
{% if !story_creation %}
<article class="edition_navigation">
  <h1>Edit tags for story {{ story.title }}</h1>
  <nav>
    <ul>
      {% for author in authors %}
        <li><a href="/@{{ author.username }}/">Back to author {{ author.display_name }}</a></li>
      {% endfor %}
      <li><a href="/{{ author_path }}/{{ story.url_fragment }}/">Back to story {{ story.title }}</a></li>
    </ul>
  </nav>
</article>
{% endif %}

<article id="select_tags">
  {% if show_draft_creation_confirm_box %}
  <section class="confirmation_box">
    <p>
      Draft was created successfully !
    </p>
  </section>
  {% endif %}

  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_tags/select/" method="post">
    <fieldset>
      <legend>
        <h2>Select the tags to use</h2>
      </legend>
      {% if selected_tags.is_empty() && !recent_tags.is_empty() %}
      <section>
        <header>
          <h3>Most Used Tags</h3>
        </header>
        <p>
        {% for tag in recent_tags %}
          <label class="tag-link-like">
            <input name="recent_tag_{{ tag.id }}" type="checkbox" {% if tag.checked %}checked{% endif %} />
            {% if !tag.description.is_empty() %}<abbr title="{{ tag.description }}">{% endif %}
              #{{ tag.name }}
            {% if !tag.description.is_empty() %}</abbr>{% endif %}
          </label>
        {% endfor %}
        </p>
      </section>
      {% endif %}
      {% for category in categories %}
      <section>
        <header>
          <h3>Category : {{ category.name }}</h3>
        </header>
        <p>
          {{ category.description }}
        </p>
        {% for tag in category.checkable_tags %}
        {% if loop.first %}
        <p>
        {% endif %}
          <label>
            <input name="category_{{ category.id }}_tag_{{ tag.id }}" type="checkbox" {% if tag.checked %}checked{% endif %} />
            {% if !tag.description.is_empty() %}<abbr title="{{ tag.description }}">{% endif %}
              #{{ tag.name }}
            {% if !tag.description.is_empty() %}</abbr>{% endif %}
          </label>
          <br />
        {% if loop.last %}
        </p>
        {% endif %}
        {% endfor %}
        {% if category.allow_custom_tags %}
        <p>
          Other tags : (use spaces to separate your tags)<br />
          <input
            id="category_{{ category.id }}_others"
            name="category_{{ category.id }}_others"
            type="text"
            class="input-full-width"
            autocomplete="off"
            value="{% for tag in category.other_tags %}{% if !loop.first %} {% endif %}#{{ tag }}{% endfor %}"
          />
        </p>
        {% endif %}
      </section>
      {% endfor %}
      {% if story_creation %}
      <input type="hidden" name="story_creation" value="true" />
      <p>
        <input type="submit" value="Click to use the selected tags">
      </p>
      {% else %}
      <p><input type="submit" value="Click to use the selected tags"></p>
      {% endif %}
    </fieldset>
  </form>
</article>

{% if selected_tags.is_empty() %}
<article id="edit_tag_modes">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_tags/edit/" method="post">
    <p><input type="submit" value="Do not select any tags (warning : only do this if no content warnings apply to your story)"></p>
  </form>
</article>
{% else %}
<article id="edit_tag_modes">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_tags/edit/" method="post">
    <fieldset>
      <legend>
        <h2>Edit the tag modes</h2>
      </legend>

      {% if show_tag_selection_confirm_box %}
      <section class="confirmation_box">
        <p>
          Tags were selected successfully !
        </p>
      </section>
      {% endif %}
      {% if show_tag_edition_confirm_box %}
      <section class="confirmation_box">
        <p>
          Tags were changed successfully !
        </p>
      </section>
      {% endif %}

      {% for tag in selected_tags %}
      {% if loop.first %}
      <ul>
      {% endif %}
        <li><label>
          {% if !tag.description.is_empty() %}<abbr title="{{ tag.description }}">{% endif %}
            #{{ tag.name }}
          {% if !tag.description.is_empty() %}</abbr>{% endif %}
          <select name="tag_{{ tag.internal_tag_id }}">
            {% if tag.can_be_minor %}
            <option value="major" {% if tag.is_major %}selected{% endif %}>Major non-spoiler tag (6 max.)</option>
            <option value="minor" {% if tag.is_minor %}selected{% endif %}>Minor non-spoiler tag</option>
            {% else %}
            <option value="standard" {% if !tag.is_spoiler %}selected{% endif %}>Non-spoiler (this tag cannot be major or minor)</option>
            {% endif %}
            <option value="spoiler" {% if tag.is_spoiler %}selected{% endif %}>Spoiler tag</option>
            <option value="delete">Remove this tag</option>
          </select>
        </label><br /></li>
      {% if loop.last %}
      </ul>
      {% endif %}
      {% endfor %}
      {% if selected_tags.is_empty() %}
      <p>
        <em>No tags selected</em><br>
        Select tags in the list above first.
      </p>
      {% endif %}
      {% if story_creation %}
      <input type="hidden" name="story_creation" value="true" />
      <p>
        <input type="submit" value="Click to use these tag modes"><br />
        <em>(Note : this action will bring you to the publication screen, where you will be able to set a publication time for your story draft)</em>
      </p>
      {% else %}
      <p><input type="submit" value="Click to use these tag modes"></p>
      {% endif %}
    </fieldset>
  </form>
</article>
{% endif %}

<script>
  {% for category in categories %}
  {% if category.allow_custom_tags %}
  setup_tag_autocompletion("category_{{ category.id }}_others");
  {% endif %}
  {% endfor %}
</script>
{% endblock %}
