{% extends "common/base.html" %}

{% block title %}
Settings for story {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edition_navigation">
  <h1>Settings for story {{ story.title }}</h1>
  <nav>
    <ul>
      {% for author in authors %}
        <li><a href="/@{{ author.username }}/">Back to author {{ author.display_name }}</a></li>
      {% endfor %}
      <li><a href="/{{ author_path }}/{{ story.url_fragment }}/">Back to story {{ story.title }}</a></li>
    </ul>
  </nav>
</article>

<article class="edit_contents" id="contents">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings/" method="post">
    <fieldset>
      <legend>
        <h2>Story Contents</h2>
      </legend>
      {% if show_contents_confirm_box %}
      <section class="confirmation_box">
        <p>
          Story content was changed successfully !
        </p>
      </section>
      {% endif %}
      <label><p>
        Story URL (cannot be edited)<br />
        <input type="text" name="url_fragment" value="/{{ author_path }}/{{ story.url_fragment }}/" disabled />
      </p></label>
      <label><p>
        Story Title<br />
        <input type="text" name="title" value="{{ story.title }}" class="input-full-width" /></p>
      </label>
      <label><p>
        Description<br />
        <textarea class="story_description" name="description">{{ story.description.inner }}</textarea>
      </p></label>
      <p><input type="submit" value="Click to apply all changes"></p>
    </fieldset>
  </form>
</article>


<article class="edit_contents" id="ongoing_story">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_ongoing_story/" method="post">
    <fieldset>
      <legend>
        <h2>Ongoing story</h2>
      </legend>
      {% if show_ongoing_story_confirm_box %}
      <section class="confirmation_box">
        <p>
          Ongoing status was changed successfully !
        </p>
      </section>
      {% endif %}
      <label>
        <p>
          Decide when this story is shown as "ongoing" to other users
        </p>
        <ul>
          <li><label><input type="radio" name="ongoing_status" value="never_ongoing" {% if OngoingState::NeverOngoing.matches(story.ongoing_status) %} checked {% endif %} />The story is complete (Never show the "ongoing" status)</label></li>
          <li><label><input type="radio" name="ongoing_status" value="ongoing_if_upublished" {% if OngoingState::OngoingIfUnpublishedChapters.matches(story.ongoing_status) %} checked {% endif %} />This story will be complete once all pending chapters are published</label></li>
          <li><label><input type="radio" name="ongoing_status" value="always_ongoing" {% if OngoingState::AlwaysOngoing.matches(story.ongoing_status) %} checked {% endif %} />This story is ongoing (Always show the "ongoing" status)</label></li>
        </ul>
      </label>
      <p><input type="submit" value="Click to change whether this story is ongoing"></p>
    </fieldset>
  </form>
</article>

<article class="edit_contents" id="chapter_index">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_multi_chapter/" method="post">
    <fieldset>
      <legend>
        <h2>Show Chapter Index</h2>
      </legend>
      {% if show_chapter_index_confirm_box %}
      <section class="confirmation_box">
        <p>
          Chapter index display was changed successfully !
        </p>
      </section>
      {% endif %}
      {% if chapters.len() == 1 %}
        <label>
          <p>
            <input type="checkbox" name="is_multi_chapter" {% if story.is_multi_chapter %}checked{% endif %} />
            Always show an intermediate "chapter index" page for this story
          </p>
        </label>
        <p><input type="submit" value="Click to change the selection mode"></p>
      {% else %}
        <label>
          <p>
            <input type="checkbox" name="is_multi_chapter" checked disabled />
            This story has {{ chapters.len() }} chapters and the chapter index will always be displayed
          </p>
        </label>
        <p><input type="submit" value="This option cannot be changed" disabled></p>
      {% endif %}
    </fieldset>
  </form>
</article>

{% if chapters.len() > 1 %}
  <article class="edit_contents" id="chapter_order">
    <fieldset>
      <legend>
        <h2>Chapter order</h2>
      </legend>
      {% if show_chapter_order_confirm_box %}
      <section class="confirmation_box">
        <p>
          Chapter order was changed successfully !
        </p>
      </section>
      {% endif %}
      <p>
        Moving chapters should work how you expect it to :<br />
        Changing a single chapter moves this specific chapter to exactly the wanted position, and all the chapters inbetween are moved up or down one to make some room.<br />
        For example, if your chapters are : A B C D E F and you move B to position 4, you end up with A C D B E F (B is exactly 4, C and D moved down)
      </p>
      <ul>
        {% for chapter in chapters %}
          <li>
            <form action="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/move/" method="post">
              <input type="number" name="new_number" value="{{ chapter.chapter_number }}" autocomplete="false" />
              <input type="submit" value="Change">
              <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/">{{ chapter.chapter_title_or_number(false) }}</a>
            </form>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
  </article>
{% endif %}
{% endblock %}
