{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block title %}
{{ persistent.site.name }} - All stories
{% endblock %}

{% block body %}
<article>
  <h1>All stories ({{ page_listing.total_count }})</h1>
</article>

<section class="sorting_modes">
  <div>
    <div>Sort by :&nbsp;</div>
    <section>
      <a href="?sort_by={{ sort_mode.next_title_sort() }}">
        Title
      </a>
      {{ sort_mode.title_symbol() }}
    </section>
    <section>
      <a href="?sort_by={{ sort_mode.next_update_sort() }}">
        Last Update
      </a>
      {{ sort_mode.update_symbol() }}
    </section>
  </div>
</section>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/stories/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<article id="main-search-results" class="story-card-grid">
  {% for story in stories %}
    {% call story_card::standard("list".to_string(), story) %}
  {% endfor %}
</article>

{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for story in excluded_stories %}
      {% call story_card::standard("list".to_string(), story) %}
    {% endfor %}
  </article>
</details>

{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/stories/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
