{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Announcements
{% endblock %}

{% block body %}
<h1>Announcements</h1>

<nav>
  <li><a href="/admin/">Back to the administration panel</a></li>
</nav>

<a href="/admin/announcements/create/">Create a new announcement</a>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/announcements/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<ul>
  {% for announcement in announcements %}
  <li>
    <a href="/admin/announcements/{{ announcement.url_fragment }}/edit/">{{ announcement.url_fragment }}</a>
    {% match announcement.title %}
      {% when Some with (title) %}
        - {{ title }}
      {% when None %}
    {% endmatch %}
    {% match announcement.publication_date %}
      {% when Some with (publication_date) %}
        - Public {{ publication_date.format("%Y-%m-%d %H:%M").to_string() }}
      {% when None %}
        - Not Public
    {% endmatch %}
  </li>
  {% endfor %}
</ul>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/announcements/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}