{% extends "common/base.html" %}

{% block head %}
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
{{ persistent.site.name }} Administration - {% match announcement.title %}{% when Some with (title) %}{{ title }}{% when None %}{{ announcement.url_fragment }}{% endmatch %}
{% endblock %}

{% block body %}
<h1>Announcements</h1>

<nav>
  <li><a href="/admin/">Back to the administration panel</a></li>
  <li><a href="/admin/announcements/">Back to the list of announcements</a></li>
</nav>

<h1>
  {% match announcement.title %}
    {% when Some with (title) %}
      {{ title }}
    {% when None %}
      {{ announcement.url_fragment }}
  {% endmatch %}
</h1>

<a href="/announcements/{{ announcement.url_fragment }}/">Go to the announcement page</a>

<form action="/admin/announcements/{{ announcement.url_fragment }}/edit/" method="POST" enctype="multipart/form-data">
  {% match announcement.title %}
    {% when Some with (title) %}
      <input type="text" name="title" class="input-full-width" placeholder="Title of the announcement" value="{{ title }}" />
    {% when None %}
      <input type="text" name="title" class="input-full-width" placeholder="Title of the announcement" />
  {% endmatch %}
  <br>
  <textarea class="announcement_editor" name="content">
    {{ announcement.content|san }}
  </textarea>
  <br>
  If this is empty, the announcement will not be publicly visible:<br>
  <label>
    Publication date
    {% match announcement.show_publicly_after_date %}
      {% when Some with (date) %}
        <input type="text" name="publication_date" value="{{ date.format("%Y-%m-%d %H:%M").to_string() }}" />
      {% when None %}
        <input type="text" name="publication_date" placeholder="1995-02-01 11:30" value="" />
    {% endmatch %}
  </label>
  <br>
  <button>Update the announcement</button>
</form>

<h3>Delete the announcement</h3>

<form action="/admin/announcements/{{ announcement.url_fragment }}/delete/" method="POST">
  <button>Delete this announcement</button>
</form>

{% include "common/rich_editor_init.html" %}

{% endblock %}