{% extends "common/base.html" %}

{% block head %}
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
{{ persistent.site.name }} Administration - Create Announcement
{% endblock %}

{% block body %}

<form action="/admin/announcements/create/" method="POST" enctype="multipart/form-data">
  <h3>Create a new announcement:</h3>
  <input type="text" name="url_fragment" class="input-full-width" placeholder="url of the announcement (e.g. 2021-01-11-announcement)" /><br>
  <input type="text" name="title" class="input-full-width" placeholder="Title of the announcement" /><br>
  <textarea class="announcement_editor" name="content">
  </textarea>
  <br>
  If this is empty, the announcement will not be publicly visible:<br>
  <label>
    Publication date
    <input type="text" name="publication_date" placeholder="1995-02-01 11:30" value="" />
  </label>
  <br>
  <button>Create an announcement</button>
</form>

{% include "common/rich_editor_init.html" %}

{% endblock %}