{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Handling report - comment by {{ comment_user_username }}
{% endblock %}

{% block body %}
<h1>Handling report for comment by <a href="/@{{ comment_user_username }}/">{{ comment_user_display_name }}</a></h1>

<article>
  <p>
    Story : <a href="/{{ author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
    by {% for author in authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </p>
</article>

<article class="comment">
  <header class="comment-header">
    <a class="comment-username" href="/@{{ comment_user_username }}/">{{ comment_user_display_name }}</a>
    <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment_id }}/">{{ comment_time }}</a></span>
  </header>
  <section class="comment-contents">
    {{ self.formatted_comment|san|safe }}
  </section>
  <p>
    Reported by :
  </p>
  <header class="comment-header">
    <a class="comment-username" href="/@{{ reporter_username }}/">{{ reporter_display_name }}</a>
    <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment_id }}/">{{ report_time }}</a></span>
  </header>
  <p>
    reason :
  </p>
  <section class="comment-contents">
    {{ report }}
  </section>
  <form action="/admin/comments/delete/{{ comment_id }}/" method="POST">
    <h2>Delete this comment :</h2>
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <input type="submit" value="Delete this comment" />
  </form>
</article>
{% endblock %}
