{% extends "common/base.html" %}

{% block head %}
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
{{ persistent.site.name }} Administration - Front Page Announcement
{% endblock %}

{% block body %}
<h1>Front page announcement</h1>

<nav>
  <li><a href="/admin/">Back to the administration panel</a></li>
</nav>


<form action="/admin/frontpage_announcement/create/" method="POST" enctype="multipart/form-data">
  <h3>Create a new announcement:</h3>
  <textarea class="frontpage_announcement_editor" name="content">
  </textarea>
  <br>
  If both of the following are empty, the announcement will not be visible:
  <label>
    Publication date
    <input type="text" name="publication_date" placeholder="1995-02-01 11:30" value="" />
  </label>
  <label>
    Removal date
    <input type="text" name="removal_date" placeholder="1995-02-01 11:30" value="" />
  </label>
  <br>
  <button>Create an announcement</button>
</form>

<h3>Existing announcements:</h3>
{% for announcement in announcements %}
<article class="announcement">
  <div class="frontpage-announcement">
    <strong>Announcement:</strong> {{ announcement.content|san|safe }}
  </div>
  <form action="/admin/frontpage_announcement/{{ announcement.id }}/delete/" method="POST">
    <button>Delete this announcement</button>
  </form>
  <form action="/admin/frontpage_announcement/{{ announcement.id }}/edit/" method="POST" enctype="multipart/form-data">
    <textarea class="frontpage_announcement_editor" name="content">
      {{ announcement.content|san }}
    </textarea>
    <br>
    If both of the following are empty, the announcement will not be visible:
    <label>
      Publication date:
      {% match announcement.show_publicly_after_date %}
        {% when Some with (date) %}
          <input type="text" name="publication_date" value="{{ date.format("%Y-%m-%d %H:%M").to_string() }}" />
        {% when None %}
          <input type="text" name="publication_date" placeholder="1995-02-01 11:30" value="" />
      {% endmatch %}
    </label>
    <label>
      Removal date:
      {% match announcement.remove_after_date %}
        {% when Some with (date) %}
          <input type="text" name="removal_date" value="{{ date.format("%Y-%m-%d %H:%M").to_string() }}" />
        {% when None %}
          <input type="text" name="removal_date" placeholder="1995-02-01 11:30" value="" />
      {% endmatch %}
    </label>
    <br>
    <button>Update this announcement</button>
  </form>
</article>
{% endfor %}

{% include "common/rich_editor_init.html" %}

{% endblock %}