{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Index
{% endblock %}

{% block body %}

<h1>Administration Tools</h1>

<ul>
  <li><a href="/admin/tags/">Manage tags</a></li>
  <li><a href="/admin/tag_highlight_rules_templates/">Manage tag highlight rule templates</a></li>
  <li><a href="/admin/users/">Manage users</a></li>
  <li><a href="/admin/registrations/">Manage registration settings</a></li>
  <li><a href="/admin/statistics/">Check the overall statistics</a></li>
  <li><a href="/admin/unpublished/">Manage unpublished stories</a></li>
  {% if unhandled_reports > 0 %}
  <li><a href="/admin/report_list/new/">Reports : {{ unhandled_reports}} unhandled reports (click to see)</a></li>
  {% else %}
  <li><a href="/admin/report_list/all/">See reports</a></li>
  {% endif %}
  {% if unhandled_modmails > 0 %}
  <li><a href="/admin/modmail/new/">Modmail : {{ unhandled_modmails }} unhandled messages (click to see)</a></li>
  {% else %}
  <li><a href="/admin/modmail/all/">See modmail</a></li>
  {% endif %}
  <li>Edit pages :
    <a href="/admin/static_pages/contact/">Contact Us</a> |
    <a href="/admin/static_pages/faq/">FAQ</a> |
    <a href="/admin/static_pages/legal/">Legal Mentions</a> |
    <a href="/admin/static_pages/rules/">Rules</a> |
    <a href="/admin/static_pages/terms_of_service/">Terms of Service</a>
  </li>
  <li>Announcements:
    <a href="/admin/frontpage_announcement/">Front page</a> |
    <a href="/admin/announcements/">Announcements</a>
  </li>
  <li><a href="/admin/moderation_log/">Check the moderation log</a></li>
</ul>

{% endblock %}
