{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Moderation Log
{% endblock %}

{% block body %}
<h1>Moderation Log</h1>

<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

<article>
  <header>
    <h2>Latest moderation actions</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/moderation_log/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  <table style="width: 100%">
    <tbody>
      <tr>
        <th>Date</th>
        <th>Moderator</th>
        <th>Action Type</th>
        <th>Justification</th>
      </tr>
      {% for action in action_log %}
      <tr>
        <td>{{ action.action_date.format("%Y-%m-%d %H:%M:%S (UTC+00)").to_string() }}</td>
        <td>{{ action.username }}</td>
        <td>{{ action.action_type }}</td>
        <td>{{ action.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/moderation_log/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

</article>

{% endblock %}
