{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - {{ page_title }}
{% endblock %}

{% block body %}
<h1>{{ page_title }}</h1>

<nav>
  <li><a href="/admin/">Back to the administration panel</a></li>
  <li><a href="/admin/modmail/new/">See the new modmails</a></li>
  <li><a href="/admin/modmail/all/">See all modmails</a></li>
</nav>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/modmail/{{ current_fragment }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% for mail in modmail %}
<article class="comment">
  <header class="comment-header">
    {% if mail.is_user_to_mods %}
    <a class="comment-username" href="/admin/modmail/user/@{{ mail.user.username }}/">From @{{ mail.user.username }}</a>
    {% else %}
    <a class="comment-username" href="/admin/modmail/user/@{{ mail.user.username }}/">Moderation team replying to @{{ mail.user.username }}</a>
    {% endif %}
    <a class="comment-time" href="#">{{ mail.message_date.format("%Y-%m-%d %H:%M:%S (UTC+00)").to_string() }}</a>
    <a class="comment-edit" href="/admin/modmail/user/@{{ mail.user.username }}/">(Send a reply)</a>
    {% if mail.is_user_to_mods %}

    {% match mail.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <a class="comment-edit" href="/admin/modmail/user/@{{ mail.user.username }}/">(Handled by @{{ user_data.username }})</a>
    {% when None %}
    <form class="comment-edit link-style-form" action="/admin/modmail/handled/{{ mail.id }}/" method="POST">
      <button class="link-like">Mark as handled</button>
    </form>
    {% endmatch %}

    {% else %}

    {% match mail.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <a class="comment-edit" href="#">(Sent by @{{ user_data.username }})</a>
    {% when None %}
    {% endmatch %}

    {% endif %}
  </header>
  <section class="comment-contents">
    {{ mail.message|san|safe }}
  </section>
</article>
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/modmail/{{ current_fragment }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}