{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Modmail for @{{ user.username }}
{% endblock %}

{% block body %}
<h1>Modmail for @{{ user.username }}</h1>

<nav>
  <li><a href="/admin/">Back to the administration panel</a></li>
  <li><a href="/admin/modmail/new/">Back to the new modmails</a></li>
  <li><a href="/admin/modmail/all/">Back to the list of all modmails</a></li>
  <li><a href="/admin/users/@{{ user.username }}/">Go to the user administration page</a></li>
  <li><a href="/@{{ user.username }}/">Go to the user page</a></li>
</nav>

<article class="new_comment">
  <header>
    <h2>Write a new message representing the moderation team</h2>
  </header>
  <form action="/admin/modmail/user/@{{ user.username }}/send/" method="POST">
    <textarea name="message" class="story_description" placeholder="Write a new message..."></textarea>
    <input type="submit" value="Send the message" />
  </form>
</article>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/modmail/user/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% for mail in modmail %}
<article class="comment">
  <header class="comment-header">
    {% if mail.is_user_to_mods %}
    <a class="comment-username" href="#">From @{{ mail.user.username }}</a>
    {% else %}
    {% match mail.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <a class="comment-username" href="#">Moderation team (handled by @{{ user_data.username }})</a>
    {% when None %}
    <a class="comment-username" href="#">Moderation team</a>
    {% endmatch %}
    {% endif %}
    <a class="comment-time" href="#">{{ mail.message_date.format("%Y-%m-%d %H:%M:%S (UTC+00)").to_string() }}</a>
    {% if mail.is_user_to_mods %}
    {% match mail.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <form class="comment-edit link-style-form" action="/admin/modmail/unhandled/{{ mail.id }}/" method="POST">
      <button class="link-like">Mark as unhandled</button>
    </form>
    {% when None %}
    <form class="comment-edit link-style-form" action="/admin/modmail/handled/{{ mail.id }}/" method="POST">
      <button class="link-like">Mark as handled</button>
    </form>
    {% endmatch %}
    {% endif %}
  </header>
  <section class="comment-contents">
    {{ mail.message|san|safe }}
  </section>
</article>
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/admin/modmail/user/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}