{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - List of suggestions
{% endblock %}

{% block body %}

<h1>List of suggestions</h1>
<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

<article>
  <header>
    <section id="sorting_modes" class="sorting_modes">
      <div>
        <div>Sort by :&nbsp;</div>
        <section>
          <a href="?sort_by={{ sort_mode.next_creation_sort() }}#sorting_modes">
            Creation
          </a>
          {{ sort_mode.creation_symbol() }}
        </section>
      </div>
    </section>
    <h2>List of suggestions</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/recommendations/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  {% for entry in recommendations %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ entry.author.username }}/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/">Suggestion</a> by
        <a href="/@{{ entry.author.username }}/">{{ entry.author.display_name }}</a> for
        <a href="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/">{{ entry.story.title }}</a>
        by {% for author in entry.story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
        ({{ entry.recommendation.recommendation_date.format("%Y-%m-%d") }})
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/recommendations/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</article>

{% endblock %}
