{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Registrations
{% endblock %}

{% block body %}
<h1>Registration</h1>

<article>
  <header><h2>Current settings :</h2></header>
  <p>
    {{ registration_count }} registrations over the last {{ registration_range }}.<br>
    {% match registration_limit %}
      {% when Some with (registration_limit) %}
        Registration limit : {{ registration_limit.limit }} users per {{ registration_range }} ({{ registration_limit.percent }}% reached).
      {% when None %}
        No registration limit.
    {% endmatch %}
    <br>
    {% if registration_manually_disabled %}
      Registrations are manually disabled.
    {% endif %}
  </p>
</article>

<article>
  {% if registration_manually_disabled %}
  <form action="/admin/registrations/enable/" method="post">
    <h3>Re-enable registrations</h3>
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <p><input type="submit" value="Re-enable registrations" /></p>
  </form>
  {% else %}
  <form action="/admin/registrations/disable/" method="post">
    <h3>Manually disable registrations</h3>
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <p><input type="submit" value="Disable registrations" /></p>
  </form>
  {% endif %}

  
  <form action="/admin/registrations/limit/" method="post">
    <h3>Change the limit of registrations per {{ registration_range }}</h3>
    <label><p>
      {% match registration_limit %}
        {% when Some with (registration_limit) %}
          <input type="checkbox" name="enable_limit" checked="checked">
        {% when None %}
          <input type="checkbox" name="enable_limit">
      {% endmatch %}
      Enable registration limit
    </p></label>
    <label><p>
      Users before reaching limit (will be ignored if the checkbox is unchecked) :
      {% match registration_limit %}
        {% when Some with (registration_limit) %}
          <input type="number" name="registration_limit" value="{{ registration_limit.limit }}">
        {% when None %}
          <input type="number" name="registration_limit" value="500">
      {% endmatch %}
    </p></label>
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <p><input type="submit" value="Modify Limit" /></p>
  </form>
</article>


{% endblock %}
