{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - {{ report_page_title }}
{% endblock %}

{% block body %}
<h1>{{ report_page_title }}</h1>

<ul>
  <li><a href="/admin/">Back to the administration panel</a></li>
  <li><a href="/admin/report_list/new/">See only unhandled reports</a></li>
  <li><a href="/admin/report_list/all/">See all reports</a></li>
</ul>

<article>
  <header>
    <h2>{{ report_page_title }}</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/report_list/{{ current_fragment }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  <table style="width: 100%; table-layout: auto;">
    <thead>
      <tr>
        <th>Context</th>
        <th>Message</th>
        <th>Reporter</th>
        <th>Handling</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr>
        <td><a href="/admin/report/{{ report.url_fragment }}/">{{ report.context }}</a></td>
        <td>{{ report.trimmed_message }}</td>
        <td><a href="/admin/users/@{{ report.username }}/">{{ report.username }}</a></td>
        {% match report.moderator_who_handled_report %}
        {% when Some with (user_data) %}
        <td>
          Handled by @{{ user_data.username }}
          <form class="link-style-form" action="/admin/report/{{ report.url_fragment }}/unhandled/" method="POST">
            <button class="link-like">(Mark as unhandled)</button>
          </form>
        </td>
        {% when None %}
        <td>
          <form class="link-style-form" action="/admin/report/{{ report.url_fragment }}/handled/" method="POST">
            <button class="link-like">Mark as handled</button>
          </form>
        </td>
        {% endmatch %}
      </tr>
      {% endfor %}
      {% if reports.is_empty() %}
      <tr>
        <td colspan="4">No content</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/report_list/{{ current_fragment }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</article>

{% endblock %}
