{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Report for suggestion by @{{ report.recommendation_author.username }} on {{ report.story.title }}
{% endblock %}

{% block body %}
<h1>Report for suggestion by @{{ report.recommendation_author.username }} on {{ report.story.title }}</h1>

<ul>
  <li><a href="/admin/">Back to the administration panel</a></li>
  <li><a href="/admin/report_list/new/">See all unhandled reports</a></li>
  <li><a href="/admin/report_list/all/">See all reports</a></li>
</ul>

<article>
  <h2>Report : </h2>
  <h3>By @{{ report.reporter.username }}</h3>
  <p>
    {{ report.report.reason }}
  </p>
  <ul>
    <br><a href="/admin/recommendations/@{{ report.recommendation_author.username }}/{{ report.story_author_path }}/{{ report.story.url_fragment }}/">Admin action : delete this suggestion</a>
    <li><a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ report.recommendation_author.username }}/{{ report.story_author_path }}/{{ report.story.url_fragment }}/">See the original suggestion</a></li>
    {% match report.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <li>
      Handled by @{{ user_data.username }}
      <form class="link-style-form" action="/admin/report/recommendation/{{ report.reporter.id }}/{{ report.recommendation_author.id }}/{{ report.story.id }}/unhandled/" method="POST">
        <button class="link-like">(Mark as unhandled)</button>
      </form>
    </li>
    {% when None %}
    <li>
      <form class="link-style-form" action="/admin/report/recommendation/{{ report.reporter.id }}/{{ report.recommendation_author.id }}/{{ report.story.id }}/handled/" method="POST">
        <button class="link-like">Mark as handled</button>
      </form>
    </li>
    {% endmatch %}
  </ul>
  <p>
    Original recommendation : {{ report.recommendation.recommendation_date.format("%Y-%m-%d").to_string() }}<br />
    {{ formatted_recommendation|san|safe }}
  </p>
</article>

{% endblock %}
