{% extends "common/base.html" %}

{% block head %}
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
{{ persistent.site.name }} Administration - Editing {{ title }}
{% endblock %}

{% block body %}
<h1 class="main-title">Administration - Editing {{ title }}</h1>
<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

<article>
  <form action="/admin/static_pages/{{ page_name }}/" method="POST" enctype="multipart/form-data">
    <h2>Edit contents :</h2>
    <textarea id="static_page_editor" name="content">{{ self.content|san }}</textarea>
    <p><input type="submit" value="Click to apply all changes"></p>
  </form>
</article>

<article>
  <h2>Preview :</h2>
  {{ self.content|san|safe }}
</article>

{% include "common/rich_editor_init.html" %}
  
{% endblock %}
