{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - List of stories
{% endblock %}

{% block body %}

<h1>List of stories</h1>
<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

<article>
  <header>
    <section class="sorting_modes">
      <div>
        <div>Sort by :&nbsp;</div>
        <section>
          <a href="?sort_by={{ sort_mode.next_title_sort() }}">
            Title
          </a>
          {{ sort_mode.title_symbol() }}
        </section>
        <section>
          <a href="?sort_by={{ sort_mode.next_creation_sort() }}">
            Creation
          </a>
          {{ sort_mode.creation_symbol() }}
        </section>
        <section>
          <a href="?sort_by={{ sort_mode.next_publication_sort() }}">
            Publication
          </a>
          {{ sort_mode.publication_symbol() }}
        </section>
        <section>
          <a href="?sort_by={{ sort_mode.next_update_sort() }}">
            Last Update
          </a>
          {{ sort_mode.update_symbol() }}
        </section>
      </div>
    </section>
    <h2>List of stories</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/stories/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  {% for story in stories %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <a href="/{{ story.author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
        by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
        {% if story.is_author_not_visible %}
          <em>(Authors banned)</em>
        {% else %}
          {% if story.has_published_chapters %}
            {% if story.has_locked_chapters %}
              <em>(some locked chapters)</em>
            {% endif %}
            {% if story.has_planified_chapters %}
              <em>(some planified chapters)</em>
            {% endif %}
            {% if story.has_draft_chapters %}
              <em>(some draft chapters)</em>
            {% endif %}
          {% else %}
            {% if story.has_locked_chapters %}
              <em>(locked)</em>
            {% endif %}
            {% if story.has_planified_chapters && !story.has_draft_chapters %}
              <em>(planified)</em>
            {% else if story.has_planified_chapters %}
              <em>(drafted and planified)</em>
            {% else %}
              <em>(drafted)</em>
            {% endif %}
          {% endif%}
        {% endif %}
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/stories/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</article>

{% endblock %}
