{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Unpublished Chapters
{% endblock %}

{% block body %}

<h1>Unpublished chapters</h1>
<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

{% for story in results %}
  {% if loop.first %}<ul>{% endif %}
    <li>
      <a href="/{{ story.author_path }}/{{ story.url_fragment }}/{{ story.chapter_number }}/">{{ story.title }} - Chapter {{ story.chapter_number}}</a>
      by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
      {% if story.locked %}
        <em>(Chapter locked)</em>
      {% elseif !story.published_after_date.is_empty() %}
        <em>(Planified for {{ story.published_after_date }})</em>
      {% else %}
        <em>(Not planified)</em>
      {% endif %}
      <a href="/{{ story.author_path }}/{{ story.url_fragment }}/0/settings/">(settings)</a>
      {% for tag in story.tags %}
        {% if loop.first %}<br>All Tags :{% endif %}
        <a href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}

{% endblock %}
