{% extends "common/base.html" %}

{% block head %}
<style>
  input[name="block_publication"]:not(:checked) ~ label.block-publication-message {
    display: none;
  }
</style>
{% endblock %}

{% block title %}
{{ persistent.site.name }} Administration - Tag Management
{% endblock %}

{% block body %}
<h1>Management page - standard and mandatory tags</h1>
<p>
  <a href="/admin/">Back to the administration panel</a>
</p>

<article>
  <header>
    <h2>Create a new category</h2>
  </header>
  <details>
    <summary>Click to show the category creation form</summary>
    <fieldset style="margin-left: 2em;">
      <form action="/admin/tags/create_category/" method="POST">
        <label>Category name : <input type="text" name="name" /></label><br />
        Description :<br />
        <textarea type="text" name="description" class="admin_message"></textarea><br />
        <label><input type="checkbox" name="is_always_displayed" /> This category is always major (tags in this category are never displayed as minor tags, only as major or spoiler tags)</label><br />
        <label><input type="checkbox" name="allow_user_defined_tags" /> Users can create new tags for this category</label><br />

        <input type="submit" value="Create a new category" />
      </form>
    </fieldset>
  </details>
</article>


{% for category in categories %}
<article id="category_{{ category.id }}">
  <header>
    <h2>{{ category.display_name }}</h2>
  </header>
  <details>
    <summary>Category is {% if category.is_always_displayed %}always major{% else %}standard{% endif %}, {% if category.allow_user_defined_tags %}users can define tags{% else %}no user tags{% endif %} (click to edit / delete category)</summary>
    <fieldset style="margin-left: 2em;">
      <legend><h3>Description :</h3></legend>
      <form action="/admin/tags/edit_category/{{ category.id }}/" method="POST">
        <label>Category name : <input type="text" name="name" value="{{ category.display_name }}" /></label><br />
        Description :<br />
        <textarea type="text" name="description" class="admin_message">{{ category.description }}</textarea><br />
        <label><input type="checkbox" name="is_always_displayed" {% if category.is_always_displayed %}checked{% endif %} /> This category is always major : tags in this category can only be major or spoiler tags</label><br />
        <label><input type="checkbox" name="allow_user_defined_tags" {% if category.allow_user_defined_tags %}checked{% endif %} /> Users can create new tags for this category</label><br />
        <label><input type="checkbox" name="quick_select_for_included_tag_search" {% if category.quick_select_for_included_tag_search %}checked{% endif %} /> Show this category explicitly with checkboxes in the "included" part of the advanced search</label><br />
        <label><input type="checkbox" name="quick_select_for_excluded_tag_search" {% if category.quick_select_for_excluded_tag_search %}checked{% endif %} /> Show this category explicitly with checkboxes in the "excluded" part of the advanced search</label><br />
        <label>Category index (lower = shown before) : <input type="text" name="order_index" value="{{ category.order_index }}" /></label><br />
        <input type="submit" value="Update the category information" />
      </form>
    </fieldset>
    <fieldset style="margin-left: 2em;">
      <legend><h3>Delete :</h3></legend>
      <form action="/admin/tags/delete_category/{{ category.id }}/" method="POST">
        <label><input type="checkbox" name="confirm_deletion" />Check to confirm deletion</label> - <input type="submit" value="Delete" />
      </form>
    </fieldset>
  </details>
  <details id="category_{{ category.id }}_new">
    <summary>Create a new tag</summary>
    <fieldset style="margin-left: 2em;">
      <form action="/admin/tags/create_tag/{{ category.id }}/" method="POST">
        <label>Tag name : <input type="text" name="name" /></label><br />
        <br />
        Description :<br />
        <textarea type="text" name="description" class="admin_message"></textarea><br />
        <br />
        <label><input type="checkbox" name="is_checkable" /> Show this tag as a checkbox</label><br />
        <input type="submit" value="Create a new tag" />
      </form>
    </fieldset>
  </details>
  {% for tag in category.tags %}
  <details id="tag_{{ tag.id }}">
    <summary>
      <a href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% if tag.block_publication %}
      - [New stories blocked]
      {% endif %}
      {% if tag.is_checkable %}
      - Checkable tag
      {% endif %}
      - published stories: {{ tag.story_count }}
      (click to expand)
    </summary>
    <fieldset style="margin-left: 2em;">
      <legend>
        <p>
          Tag details :
        </p>
      </legend>
      <form action="/admin/tags/edit/{{ tag.id }}/" method="POST">
        Change Category :
        <select name="category_id">
          {% for combo_category in categories %}
          <option value="{{ combo_category.id }}" {% if combo_category.id == category.id %}selected{% endif %}>{{ combo_category.display_name }}</option>
          {% endfor %}
        </select>
        <br />
        Description :<br />
        <textarea type="text" name="description" class="admin_message">{{ tag.description }}</textarea><br />
        <label><input type="checkbox" name="is_checkable" {% if tag.is_checkable %}checked{% endif %} /> Show this tag as a checkbox</label><br />
        <label><input type="checkbox" name="show_in_popularity_listing" {% if tag.show_in_popularity_listing %}checked{% endif %} /> Show this tag in popularity listings</label><br />
        <input type="checkbox" id="block-publication-{{ tag.id }}" name="block_publication" {% if tag.block_publication %}checked{% endif %} /> <label for="block-publication-{{ tag.id }}">Disable posting of new chapters or stories with this tag</label><br />
        <label class="block-publication-message">
          Message to show when users try to post a story or chapter with this tag:<br />
          <em>Note: You can use markdown, such as [link](url) or _emphasis_, in this textbox.</em><br />
          <textarea type="text" name="block_publication_message" class="admin_message">{{ tag.block_publication_message }}</textarea><br />
        </label><br />
        <input type="submit" value="Update details for this tag" />
      </form>
    </fieldset>
    <fieldset style="margin-left: 2em;">
      <legend>
        <p>
          This tag regroups the following 'child' tags :
        </p>
      </legend>
      {% for internal_tag in tag.linked_tags %}
      <ul>
        <li>
          #{{ internal_tag.name }}
          {% if internal_tag.name != tag.display_name || tag.linked_tags.len() == 1 %}
            <form action="/admin/tags/link/{{ internal_tag.id }}/" method="POST">
              Group this tag with a parent tag : <input type="text" name="canonical_tag" /><input type="submit" value="execute" />
            </form>
          {% endif %}
          {% if internal_tag.name != tag.display_name %}
            <form action="/admin/tags/unlink/{{ internal_tag.id }}/" method="POST">
              Make this tag its own parent : <input type="submit" value="execute" />
            </form>
          {% endif %}
          {% if internal_tag.name != tag.display_name || tag.linked_tags.len() == 1 %}
            <form action="/admin/tags/delete/{{ internal_tag.id }}/" method="POST">
              Delete this tag : <input type="submit" value="execute" />
            </form>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </fieldset>
  </details>
  {% endfor %}
</article>
{% endfor %}

{% endblock %}
