{% extends "common/base.html" %}

{% block title %}
Suggestion by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<article>
  <header>
    <h1>Suggestion by <a href="/@{{ user.username }}/">{{ user.display_name }}</a></h1>
    <h2>
      <a href="/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/">
        {{ recommendation.story.title }}
        by {% for author in recommendation.story.authors %}{{ author.display_name }}{% if !loop.last %}, {% endif %}{% endfor %}
      </a>
    </h2>
    {% if is_administrator %}
      <br><a href="/admin/recommendations/@{{ user.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/">(admin action : delete)</a>
    {% endif %}
    {% if is_self %}
      <br><a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/edit/">(edit this suggestion)</a>
    {% endif %}
  </header>
  <p>
    {{ recommendation.formatted_recommendation|san|safe }}
  </p>
  <p>
    <a href="/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/">Read the story here !</a>
  </p>
</article>

{% if recommendation.can_report %}
{% if recommendation.is_already_reported %}
<p class="story-report">
  You already reported this suggestion.
  <form class="link-style-form" action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/unreport/" method="POST">
    <button class="link-like">(undo)</button>
  </form>
</p>
{% else %}
<p class="story-report">Click <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/report/">here</a> to report this suggestion</p>
{% endif %}
{% endif %}
{% endblock %}
