{% extends "common/base.html" %}

{% block head %}
<style>
  #other_report_input:not(:checked) ~ #other_report_reason {
    display: none;
  }
</style>
{% endblock %}

{% block title %}
Reporting the suggestion by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Reporting the suggestion by <a href="/@{{ user.username }}/">{{ user.display_name }}</a></h1>
<h2>
  <a href="/{{ recommendation.author_path }}/{{ recommendation.story_url_fragment }}/">
    {{ recommendation.story_title }}
    by {% for author in recommendation.authors %}{{ author.display_name }}{% if !loop.last %}, {% endif %}{% endfor %}
  </a>
</h2>

<article class="chapter">
  <p>
    {{ recommendation.formatted_recommendation|san|safe }}
  </p>
  <form action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ recommendation.author_path }}/{{ recommendation.story_url_fragment }}/report/" method="POST">
    <p>
      Select a reason for the report :
    </p>
    <ul>
      <li><label><input type="radio" name="reason" value="spam" checked /> This suggestion is spam</label></li>
      <li><label><input type="radio" name="reason" value="tos" /> This suggestion is against the Terms of Service</label></li>
      <li><label><input type="radio" name="reason" value="offensive" /> This suggestion contains offensive language</label></li>
      <li><label><input type="radio" name="reason" value="harassment" /> This suggestion is harassment</label></li>
      <li>
        <input id="other_report_input" type="radio" name="reason" value="other" />
        <label for="other_report_input">Other reason</label>
        <div id="other_report_reason">Please specify: <br><textarea name="other_content" class="admin_message"></textarea></div>
      </li>
    </ul>
    <input type="submit" value="Report this suggestion" />
  </form>
</article>
{% endblock %}
