{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block title %}
Stories suggested by {{ author.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<article>
  <header>
    <h1>
      {% if recommendations.len() == 1 %}
        1 story
      {% else %}
        {{ recommendations.len() }} stories
      {% endif %}
      suggested by <a href="/@{{ author.username }}/">{{ author.display_name }}</a>
    </h1>
  </header>

  {% if show_recommendation_edit_confirmation %}
  <section class="confirmation_box">
    <p>
      Suggestion was edited successfully !
    </p>
  </section>
  {% endif %}

  {% if show_recommendation_delete_confirmation %}
  <section class="confirmation_box">
    <p>
      Suggestion was deleted successfully !
    </p>
  </section>
  {% endif %}

  {% if can_follow_recommendations %}
  <span id="follow">
    {% if user_is_following_author_recommendations %}
      You are following this user's suggestions.
      <form class="link-style-form" action="/{{ intertextual::constants::RECOMMENDATION_URL }}/unfollow/@{{ author.username }}/" method="POST">
        <button class="link-like">(unfollow)</button>
      </form>
    {% else %}
      <form class="link-style-form" action="/{{ intertextual::constants::RECOMMENDATION_URL }}/follow/@{{ author.username }}/" method="POST">
        <button class="link-like">Follow this user's suggestions</button>
      </form>
    {% endif %}
  </span>
  {% endif %}
</article>

<article class="story-card-grid">
  {% if recommendations.is_empty() %}
  <section class="empty-story-card-grid">
    This user did not suggest any stories yet.
  </section>
  {% endif %}

  {% for recommendation in recommendations %}
    {% call story_card::recommendation_page("list".to_string(), recommendation) %}
  {% endfor %}
</article>

{% if !excluded_recommendations.is_empty() %}
<details>
  <summary>
    {% if excluded_recommendations.len() == 1 %}
      1 suggestion was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded suggestion.
    {% else %}
      {{ excluded_recommendations.len() }} suggestions were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded suggestions.
    {% endif %}
  </summary>
  <article class="story-card-grid">
  {% for recommendation in excluded_recommendations %}
    {% call story_card::recommendation_page("list".to_string(), recommendation) %}
  {% endfor %}
  </article>
</details>
{% endif %}

{% endblock %}
