/* ========================== */
/* === General and shared === */
/* ========================== */

body {
  width: 100vw;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#navbar-top {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-fg-color);
}

#navbar-bottom {
  background-color: var(--navbar-secondary-bg-color);
  color: var(--navbar-fg-color); 
}

#main-content {
  margin: 20px auto;
  max-width: 95vw;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

input,
textarea,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 5px;
  box-sizing: border-box;
}

textarea.story_description {
  width: 100%;
  height: 8em;
}

textarea.author-note {
  width: 100%;
  height: 12em;
}

textarea#content {
  width: 100%;
  height: 60em;
}

input.input-full-width {
  width: 100%;
}

textarea.admin_message {
  width: 80%;
  height: 8em;
}

div.markdown_explanations {
  font-size: 0.8em;
}

section.story-report {
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
}

.autocomplete-list {
  position: absolute;
  background-color: var(--content-bg-color);
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  font-size: 1em;
}

.autocomplete-entry {
  padding: 4px 4px;
  font-size: 0.8em;
  cursor: pointer;
}

.autocomplete-entry:hover {
  background-color: var(--highlight-bg-color);
}

.color-picker {
  position: absolute;
  background-color: var(--content-bg-color);
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  font-size: 1em;
}

.color-picker-entry {
  padding: 4px 4px;
  font-size: 0.8em;
  cursor: pointer;
}

.autocomplete-tag-story-count,
.autocomplete-tag-category {
  color: var(--secondary-fg-color);
  font-size: 0.8em;
}

.page-navigation {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="submit"]:not(:disabled),
input[type="button"]:not(:disabled) {
  cursor: pointer;
}

form.link-style-form {
  display: inline;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
}

body form.link-style-form input[type="submit"].link-like,
body form.link-style-form input[type="submit"].link-like:hover:not(:disabled),
body form.link-style-form button.link-like,
body form.link-style-form button.link-like:hover:not(:disabled) {
  display: inline;
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

section.confirmation_box {
  margin: 5px auto;
  text-align: center;
  max-width: 500px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

section.sorting_modes {
  float: right;
}
section.sorting_modes > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
section.sorting_modes > div > section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}

.frontpage-announcement {
  width: calc(95vw - 50px);
  height: auto;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

/* ==================== */
/* ===    Stories   === */
/* ==================== */

nav.chapter-navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

nav.chapter-navigation > nav {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 200px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

#story-actions-list,
#share-actions-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#story-actions-list .follow,
#story-actions-list .suggestions,
#story-actions-list .snaps,
#story-actions-list .share,
#share-actions-list .share {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}
#story-actions-list .follow div,
#story-actions-list .suggestions div,
#story-actions-list .snaps div,
#story-actions-list .snaps details,
#story-actions-list .share div,
#story-actions-list .share details,
#share-actions-list .share div,
#share-actions-list .share details {
  padding-top: 10px;
  padding-bottom: 10px;
}
#story-actions-list .snaps details summary,
#story-actions-list .share details summary,
#share-actions-list .share details summary {
  list-style: none;
  cursor: pointer;
}
#story-actions-list .snaps details summary::-webkit-details-marker,
#story-actions-list .share details summary::-webkit-details-marker,
#share-actions-list .share details summary::-webkit-details-marker {
  display: none;
}
#story-actions-list .snaps .log-in-info {
  display: block;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

.centered-section {
  margin: 20px auto;
  max-width: 960px;
}

.chapter-overview.centered-section {
  padding: 10px 50px 40px 50px;
  border-radius: 20px;
}

section.chapter-prose {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.chapter-prose p {
  margin-top: 0.25em;
  margin-bottom: 0;
}

section.chapter-prose p + p { text-indent: 2rem; }

/* Handle empty paragraphs properly as "section breaks" */
section.chapter-prose p:empty { padding-top: 1em; }
section.chapter-prose p:empty + p { text-indent: 0; }

section.author-note {
  padding: 0.4em 1em;
  margin-left: 3em;
  margin-right: 3em;
}

section.author-note > p:first-child { margin-top: 0em; }

section.chapter-prose blockquote {
  padding-left: 1em;
  border-left: 3px solid;
}

section.chapter-prose blockquote blockquote {
  margin-left: 0;
}

section.chapter-prose hr {
  border: none;
  text-align: center;
  letter-spacing: 1em;
  color: inherit;
}

section.chapter-prose hr:before { content: "* * *"; }

section.chapter-prose pre {
  white-space: pre-line;
  text-align: left;
}

section.chapter-prose code,
section.chapter-prose samp {
  text-justify: none;
}

div.error-field {
  padding: 5px 10px;
  font-size: 1em;
  color: var(--error-color);
}

/* ==================== */
/* ===     Tags     === */
/* ==================== */

a.tag-link,
.tag-link-like {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.1em 0.5rem 0.2em 0.5rem;
}

#tags-actions-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#tags-actions-list .listing,
#tags-actions-list .popular {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}

/* ==================== */
/* ===    Navbar    === */
/* ==================== */
#navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 110px;
  z-index: 100;
  font-size: 18px;
}

#navbar-top {
  clear: both;
  width: calc(100vw - 20px);
  height: 60px;
  padding: 5px 10px;
}

#navbar-bottom {
  clear: both;
  width: calc(100vw - 20px);
  height: 50px;
  padding: 0px 10px 0px 10px;
}

#navbar .nav-main-item {
  max-height: 3.2rem;
  overflow: hidden;
}

#navbar .nav-main-item a {
  display: inline-block;
  max-height: 50px;
  padding: 0 10px;
  border-radius: 8px;
}

#navbar .nav-main-item img {
  max-width: 150px;
  max-height: 50px;
  margin-top: 0px;
}

#navbar .nav-left {
  float: left;
  line-height: 50px;
}

#navbar .nav-right {
  float: right;
  line-height: 50px;
}

#navbar a.nav-link,
#navbar form.nav-link button {
  color: var(--navbar-fg-color);
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 8px;
}

#navbar div.nav-right.nav-right-rightmost {
  margin-right: 10px;
}

#navbar .nav-search-icon svg {
  position: relative;
  top: 5px;
}
#navbar .nav-search-icon:hover svg {
  stroke: var(--navbar-hover-fg-color) !important;
}

#navbar .nav-style {
  color: var(--navbar-fg-color);
}

#navbar details.nav-style summary {
  list-style: none;
  padding: 0px 10px;
  border-radius: 8px;
  cursor: pointer;
}
#navbar details.nav-style summary::-webkit-details-marker { display: none; }

#navbar .nav-style:hover summary {
  color: var(--navbar-hover-fg-color);
  background-color: var(--navbar-fg-color);
}

#navbar .nav-username {
  position: relative;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-notifications {
  position: relative;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-notification-badge {
  position: absolute;
  bottom: 0.2em;
  font-size: 0.8em;
  left: 0px;
  line-height: 1em;
  padding: 2px 5px;
  border-radius: 5px;
  background: var(--notification-badge-major-color);
  text-align: center;
  font-weight: bold;
  color: var(--notification-badge-fg-color);
}

.nav-notification-event-badge {
  position: absolute;
  top: 0.5rem;
  left: 0px;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  background: var(--notification-badge-minor-color);
  text-align: center;
  font-weight: bold;
  color: var(--notification-badge-fg-color);
}

#navbar .nav-icon a svg {
  position: relative;
  top: 7px;
}

#navbar a.nav-link:hover,
#navbar form.nav-link button:hover {
  color: var(--navbar-hover-fg-color);
  background-color: var(--navbar-fg-color);
}

.style-input-hidden {
  display: none;
}

.style-input-hidden + * {
  padding: 3px;
  cursor: pointer;
}

.style-input-number {
  width: 2.5rem;
  box-sizing: content-box;
}

.style-input-hidden:checked + * {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--border-color);
}

.style-input-hidden:not(:checked) + * {
  margin: 1px;
}

#settings-dropdown {
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--navbar-fg-color);
  background-color: #fff; /* fallback for IE so it isn't transparent */
  background-color: var(--navbar-bg-color);
  text-align: center;
}

.style-menu {
  line-height: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  color: var(--navbar-fg-color);
}

.style-menu > div {
  display: flex;
  flex-direction: row;
}

.style-menu span {
  line-height: 1.6;
}

div.sidepanel {
  display: none;
}

/* ======================== */
/* === Age Verification === */
/* ======================== */

#age-verification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#age-verification-modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  max-width: 90vw;
  max-height: 90vh;
  text-align: center;
}

#age-verification-button {
  font-size: 1.5em;
  cursor: pointer;
}

/* ===================== */
/* ===   Main Page   === */
/* ===================== */

h1.main-title {
  text-align: center;
}

p.main-page-presentation {
  text-align: center;
}

#main-search {
  text-align: center;
}
#main-search input {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}
#main-search input[type='text'] {
  width: 50vw;
}
#main-search input[type='submit'] {
  width: 200px;
}

.story-card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.story-card-grid::after {
  content: '';
  flex: auto;
}

.story-card-grid header {
  flex-grow: 0;
  width: 90vw;
  margin: 10px;
}

.story-card-grid .story-card {
  width: calc(47.5vw - 50px);
  height: auto;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.story-card-grid .story-card-large {
  width: 90vw;
  height: auto;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.story-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.story-card-title a {
  text-decoration: underline;
  cursor: pointer;
}

.story-card-title a:hover {
  text-decoration: underline dotted;
}

.story-card-publication-date {
  float: right;
}

.story-card-symbol {
  margin-right: 1em;
  font-size: 1.5em;
  float: right;
  font-family:
    apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol;
}

.story-card-hidden-info {
  margin-left: 1em;
  float: right;
}

.story-card-authors {
  float: left;
}

.story-card-recommender {
  float: left;
  font-weight: bold;
}

.story-card-match-percent {
  float: right;
}

.story-card-word-count {
  float: right;
}

.story-card-mark-for-later-info {
  font-size: 0.8em;
  float: right;
}

.story-card-controls {
  float: right;
  display: flex;
  flex-direction: row;
}

.story-card-tags {
  clear: both;
}

.story-card-tags > summary { list-style: none; }
.story-card-tags > summary::-webkit-details-marker { display: none; }
.story-card-tags-spoilered-mandatory > summary { list-style: none; }
.story-card-tags-spoilered-mandatory > summary::-webkit-details-marker { display: none; }

.story-card-description, .story-card-recommendation {
  clear: both;
}

.recommendation .story-card-description {
  font-style: italic;
}

.aggregated-story-card-authors {
  font-size: 1.5em;
  font-weight: bold;
}

.aggregated-story-card-authors {
  font-size: 1.5em;
  font-weight: bold;
}

.aggregated-story-card-entry-extra {
  float: right;
}

.aggregated-story-card-entry-symbol {
  margin-right: 1em;
  float: right;
  font-family:
    apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol;
}


/* ======================== */
/* ===  Specific Pages  === */
/* ======================== */

#main-search {
  text-align: center;
}

#main-search input {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}

#main-search input[type='text'] {
  width: 50vw;
}

#main-search input[type='submit'] {
  width: 200px;
}

#main-search input[type='submit'] {
  width: 200px;
}

#main-search-advanced {
  max-width: 650px;
}

.main-login {
  margin: 0px auto;
  text-align: center;
}

table.notifications {
  border-collapse: collapse;
}

table.notifications td {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

td.notification_time {
  text-align: center;
}

td.notification_content {
  text-align: left;
}

/* ==================== */
/* ===   Comments   === */
/* ==================== */

article.new_comment {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

article.comment-list-hidden {
  text-align: center;
}
article.comment-list {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

article.comment {
  padding: 5px;
}

article.comment .comment-time,
article.comment .comment-time:visited {
  font-size: 0.8em;
  color: var(--secondary-fg-color);
  text-decoration: none;
}

article.comment .comment-already-reported {
  font-size: 0.8em;
  float: right;
}

article.comment .comment-reply,
article.comment .comment-edit,
article.comment .comment-delete,
article.comment .comment-report,
article.comment .comment-admin-actions {
  font-size: 0.8em;
  text-decoration: none;
  float: right;
}
article.comment .comment-reply:hover,
article.comment .comment-edit:hover,
article.comment .comment-delete:hover,
article.comment .comment-report:hover,
article.comment .comment-admin-actions:hover {
  text-decoration: underline;
}

article.statistics {
  max-width: 650px;
  margin: 0px auto;
}

/* ================== */
/* ===   Mobile   === */
/* ================== */

@media all and (max-width: 670px) {
  .chapter-overview.centered-section {
    padding: 5px 15px 20px 15px;
    border-radius: 5px;
  }

  .story-card-grid .story-card {
    width: 90vw !important;
  }

  #navbar .nav-can-collapse {
    display: none;
  }

  #navbar {
    height: 60px;
  }

  #navbar-bottom {
    display: none;
  }

  #navbar #nav-right-menu-button.nav-right {
    position: relative;
    line-height: 40px;
  }

  #sidepanel > #sidepanel-opener ~ #sidepanel-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 125vw;
    width: calc(90vw - 50px);
    height: 100vh;
    padding: 20px 5vw 5vh 5vw;
    overflow: hidden;
    background: var(--navbar-bg-color);
    transition: left 0.5s;
  }

  #sidepanel > #sidepanel-opener:checked ~ #sidepanel-contents {
    display: flex;
    left: 50px;
  }

  #sidepanel
    > #sidepanel-opener
    ~ #sidepanel-contents
    ~ #sidepanel-contents-close {
    display: block;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 50px;
    height: 100vh;
    background: rgba(0,0,0,0);
    transition: left 0.5s;
  }

  #sidepanel
    > #sidepanel-opener:checked
    ~ #sidepanel-contents
    ~ #sidepanel-contents-close {
    display: flex;
    left: 0;
    font-size: 18px;
  }

  #sidepanel-contents {
    font-size: 18px;
  }

  #sidepanel-contents > hr {
    width: 100%;
  }

  #sidepanel-contents > div a,
  #sidepanel-contents > div form button {
    color: var(--navbar-fg-color);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 8px;
  }

  #sidepanel-contents > div.nav-notifications {
    padding: 5px;
  }

  #sidepanel-contents > div a:hover,
  #sidepanel-contents > div form button:hover {
    color: var(--navbar-hover-fg-color);
    background-color: var(--navbar-fg-color);
  }

  #sidepanel-contents .style-menu {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }

  #sidepanel-contents .style-menu > div {
    flex-direction: column;
  }

  #sidepanel-contents .font-size-label {
    display: none;
  }

  section.author-note {
    margin-left: 1em;
    margin-right: 1em;
  }

  /* No point in setting content width on narrow devices */
  div.content-width {
    display: none;
  }

  .wide-text {
    display: none;
  }
}

@media not all and (max-width: 670px) {
  div#sidepanel,
  #nav-right-menu-button {
    display: none;
  }

  .narrow-text {
    display: none;
  }
}

@media print {
  #navbar,
  #nav-hr,
  #sidepanel,
  .chapter-navigation {
    display: none;
  }
}

/* ================== */
/* ===   Themes   === */
/* ================== */

/* Standard Theme */
body { font-family: serif; }
body section.chapter-prose { text-align: left; }

/* Serif/Sans-serif */
.font-serif {
  font-family: serif;
}

.font-sans-serif {
  font-family: sans-serif;
}

/* Justify */
body.text-justify section.chapter-prose {
  text-align: justify;
}

/* Narrow content */

body.content-narrow .centered-section {
  max-width: 650px;
}

/* Modern-styled paragraphs */
body.paragraph-style-modern section.chapter-prose p {
  margin-top: 1em;
  margin-bottom: 1em;
}

body.paragraph-style-modern section.chapter-prose p + p { text-indent: 0rem; }

/* ================== */
/* ===   Themes   === */
/* ================== */

/* Theme-independent colors */
:root {
  --navbar-fg-color: #ddd;
  --navbar-bg-color: #222;
  --navbar-secondary-bg-color: #555;
  --navbar-hover-fg-color: #111;

  --notification-badge-major-color: #d00;
  --notification-badge-minor-color: grey;
  --notification-badge-fg-color: white;
}

/**
 * Precedence:
 * - Non-default user style prefs override everything
 * - In the absence of a specific preference, go with prefers-color-scheme
 * - In the absence of prefers-color-scheme, go with light theme
 */

:root {
  /* Light mode definitions */
  --light-primary-fg-color: #444;
  --light-secondary-fg-color: #666;
  --light-backdrop-bg-color: #f2f2f2;
  --light-content-bg-color: #fff;
  --light-highlight-bg-color: #ddd;

  --light-link-color: #22e;
  --light-link-hover-color: #00c;
  --light-link-visited-color: #559;

  --light-shadow-bg-color: #aaa;

  --light-card-link-color: #111;
  --light-card-link-hover-color: #555;
  --light-card-link-visited-color: #666;

  --light-border-color: grey;

  --light-success-primary-color: #7f7;
  --light-success-secondary-color: #0f0;
  --light-warning-color: orange;
  --light-error-color: red;
  --light-error-secondary-color: #f77;
  --light-error-tertiary-color: #faa;

  --light-star-color: #c80;

  --light-input-fg-color: #111;
  --light-input-bg-color: #fff;


  /* Dark mode definitions */
  --dark-primary-fg-color: #ddd;
  --dark-secondary-fg-color: #bbb;
  --dark-backdrop-bg-color: #181818;
  --dark-content-bg-color: #333;
  --dark-highlight-bg-color: #555;

  --dark-link-color: #aaf;
  --dark-link-hover-color: #88f;
  --dark-link-visited-color: #ccf;

  --dark-shadow-bg-color: #555;

  --dark-card-link-color: #ddd;
  --dark-card-link-hover-color: #bbb;
  --dark-card-link-visited-color: #aaa;

  --dark-border-color: #777;

  --dark-success-primary-color: #070;
  --dark-success-secondary-color: #0b0;
  --dark-warning-color: orange;
  --dark-error-color: red;
  --dark-error-secondary-color: #400;
  --dark-error-tertiary-color: #733;

  --dark-star-color: #ff0;

  --dark-input-fg-color: #eee;
  --dark-input-bg-color: #666;

  /* Green mode definitions */
  --green-primary-fg-color: #000;
  --green-secondary-fg-color: #000;
  --green-backdrop-bg-color: #ccffcc;
  --green-content-bg-color: #e8ffe8;
  --green-highlight-bg-color: #ccffcc;

  --green-link-color: #337;
  --green-link-hover-color: #557;
  --green-link-visited-color: #387;

  --green-shadow-bg-color: #ccffcc;

  --green-card-link-color: black;
  --green-card-link-hover-color: #337;
  --green-card-link-visited-color: #030;

  --green-border-color: #070;

  --green-input-fg-color: black;
  --green-input-bg-color: #e8ffe8;
}

@media not all and (prefers-color-scheme: dark) {
  body {
    --primary-fg-color: var(--light-primary-fg-color);
    --secondary-fg-color: var(--light-secondary-fg-color);
    --backdrop-bg-color: var(--light-backdrop-bg-color);
    --content-bg-color: var(--light-content-bg-color);
    --highlight-bg-color: var(--light-highlight-bg-color);

    --link-color: var(--light-link-color);
    --link-hover-color: var(--light-link-hover-color);
    --link-visited-color: var(--light-link-visited-color);

    --shadow-bg-color: var(--light-shadow-bg-color);

    --card-border-color: var(--light-border-color);
    --card-link-color: var(--light-card-link-color);
    --card-link-hover-color: var(--light-card-link-hover-color);
    --card-link-visited-color: var(--light-card-link-visited-color);

    --border-color: var(--light-border-color);

    --success-primary-color: var(--light-success-primary-color);
    --success-secondary-color: var(--light-success-secondary-color);
    --warning-color: var(--light-warning-color);
    --error-color: var(--light-error-color);
    --error-secondary-color: var(--light-error-secondary-color);
    --error-tertiary-color: var(--light-error-tertiary-color);

    --star-color: var(--light-star-color);

    --input-fg-color: var(--light-input-fg-color);
    --input-bg-color: var(--light-input-bg-color);
  }
  body.theme-dark {
    --primary-fg-color: var(--dark-primary-fg-color);
    --secondary-fg-color: var(--dark-secondary-fg-color);
    --backdrop-bg-color: var(--dark-backdrop-bg-color);
    --content-bg-color: var(--dark-content-bg-color);
    --highlight-bg-color: var(--dark-highlight-bg-color);

    --link-color: var(--dark-link-color);
    --link-hover-color: var(--dark-link-hover-color);
    --link-visited-color: var(--dark-link-visited-color);

    --shadow-bg-color: var(--dark-shadow-bg-color);

    --card-border-color: var(--dark-content-bg-color);
    --card-link-color: var(--dark-card-link-color);
    --card-link-hover-color: var(--dark-card-link-hover-color);
    --card-link-visited-color: var(--dark-card-link-visited-color);

    --border-color: var(--dark-border-color);

    --success-primary-color: var(--dark-success-primary-color);
    --success-secondary-color: var(--dark-success-secondary-color);
    --warning-color: var(--dark-warning-color);
    --error-color: var(--dark-error-color);
    --error-secondary-color: var(--dark-error-secondary-color);
    --error-tertiary-color: var(--dark-error-tertiary-color);

    --star-color: var(--dark-star-color);

    --input-fg-color: var(--dark-input-fg-color);
    --input-bg-color: var(--dark-input-bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-fg-color: var(--dark-primary-fg-color);
    --secondary-fg-color: var(--dark-secondary-fg-color);
    --backdrop-bg-color: var(--dark-backdrop-bg-color);
    --content-bg-color: var(--dark-content-bg-color);
    --highlight-bg-color: var(--dark-highlight-bg-color);

    --link-color: var(--dark-link-color);
    --link-hover-color: var(--dark-link-hover-color);
    --link-visited-color: var(--dark-link-visited-color);

    --shadow-bg-color: var(--dark-shadow-bg-color);

    --card-border-color: var(--dark-content-bg-color);
    --card-link-color: var(--dark-card-link-color);
    --card-link-hover-color: var(--dark-card-link-hover-color);
    --card-link-visited-color: var(--dark-card-link-visited-color);

    --border-color: var(--dark-border-color);

    --success-primary-color: var(--dark-success-primary-color);
    --success-secondary-color: var(--dark-success-secondary-color);
    --warning-color: var(--dark-warning-color);
    --error-color: var(--dark-error-color);
    --error-secondary-color: var(--dark-error-secondary-color);
    --error-tertiary-color: var(--dark-error-tertiary-color);

    --star-color: var(--dark-star-color);

    --input-fg-color: var(--dark-input-fg-color);
    --input-bg-color: var(--dark-input-bg-color);
  }
  body.theme-light {
    --primary-fg-color: var(--light-primary-fg-color);
    --secondary-fg-color: var(--light-secondary-fg-color);
    --backdrop-bg-color: var(--light-backdrop-bg-color);
    --content-bg-color: var(--light-content-bg-color);
    --highlight-bg-color: var(--light-highlight-bg-color);

    --link-color: var(--light-link-color);
    --link-hover-color: var(--light-link-hover-color);
    --link-visited-color: var(--light-link-visited-color);

    --shadow-bg-color: var(--light-shadow-bg-color);

    --card-border-color: var(--light-border-color);
    --card-link-color: var(--light-card-link-color);
    --card-link-hover-color: var(--light-card-link-hover-color);
    --card-link-visited-color: var(--light-card-link-visited-color);

    --border-color: var(--light-border-color);

    --success-primary-color: var(--light-success-primary-color);
    --success-secondary-color: var(--light-success-secondary-color);
    --warning-color: var(--light-warning-color);
    --error-color: var(--light-error-color);
    --error-secondary-color: var(--light-error-secondary-color);
    --error-tertiary-color: var(--light-error-tertiary-color);

    --star-color: var(--light-star-color);

    --input-fg-color: var(--light-input-fg-color);
    --input-bg-color: var(--light-input-bg-color);
  }
}

body.theme-green {
  --primary-fg-color: var(--green-primary-fg-color);
  --secondary-fg-color: var(--green-secondary-fg-color);
  --backdrop-bg-color: var(--green-backdrop-bg-color);
  --content-bg-color: var(--green-content-bg-color);
  --highlight-bg-color: var(--green-highlight-bg-color);

  --link-color: var(--green-link-color);
  --link-hover-color: var(--green-link-hover-color);
  --link-visited-color: var(--green-link-visited-color);

  --shadow-bg-color: var(--green-shadow-bg-color);

  --card-border-color: var(--green-border-color);
  --card-link-color: var(--green-card-link-color);
  --card-link-hover-color: var(--green-card-link-hover-color);
  --card-link-visited-color: var(--green-card-link-visited-color);

  --border-color: var(--green-border-color);

  --success-primary-color: var(--light-success-primary-color);
  --success-secondary-color: var(--light-success-secondary-color);
  --warning-color: var(--light-warning-color);
  --error-color: var(--light-error-color);
  --error-secondary-color: var(--light-error-secondary-color);
  --error-tertiary-color: var(--light-error-tertiary-color);

  --star-color: var(--light-star-color);

  --input-fg-color: var(--green-input-fg-color);
  --input-bg-color: var(--green-input-bg-color);
}

.chapter-overview.centered-section {
  background-color: var(--content-bg-color);
}

body {
  color: var(--primary-fg-color);
  background-color: var(--backdrop-bg-color);
}

a, .link-like {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

a:hover, a:visited:hover, .link-like:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-visited-color);
}

#age-verification { background-color: var(--shadow-bg-color); }
#age-verification-modal { background-color: var(--content-bg-color); }

.frontpage-announcement,
.story-card-grid .story-card,
.story-card-grid .story-card-large {
  border-color: var(--card-border-color);
  background-color: var(--content-bg-color);
}
#story-actions-list .follow,
#story-actions-list .suggestions,
#story-actions-list .snaps,
#story-actions-list .share,
#share-actions-list .share,
nav.chapter-navigation > nav {
  border-color: var(--border-color);
  background-color: var(--content-bg-color);
}

#story-actions-list .snaps .log-in-info {
  border-color: var(--border-color);
  background-color: var(--content-bg-color);
}

section.confirmation_box  {
  border-color: var(--success-secondary-color);
  background-color: var(--success-primary-color);
}

section.author-note { background-color: var(--highlight-bg-color); }

section.chapter-prose blockquote { border-color: var(--border-color); }

.story-card-grid .story-card.story-card-hidden-story,
.story-card-grid .story-card-large.story-card-hidden-story {
  border-color: var(--error-color);
}

.story-card-grid .story-card.story-card-warning-story,
.story-card-grid .story-card-large.story-card-warning-story {
  border-color: var(--warning-color);
}

.story-card-title a { color: var(--card-link-color); }
.story-card-title a:hover, .story-card-title a:visited:hover { color: var(--card-link-hover-color); }
.story-card-title a:visited { color: var(--card-link-visited-color); }

p.main-page-presentation a { color: var(--secondary-fg-color); }
p.main-page-presentation a:hover { color: var(--primary-fg-color); }

a.tag-link,
.tag-link-like {
  border-color: var(--border-color);
  background-color: var(--highlight-bg-color);
  color: var(--link-color);
}

a.tag-link:hover,
.tag-link-like:hover {
  background-color: var(--content-bg-color);
}

a.tag-link:visited { color: var(--link-color); }

.story-card-grid a.tag-link:hover { background-color: var(--content-bg-color); }

a.tag-link.tag-link-excluded { background-color: var(--error-secondary-color); }
a.tag-link.tag-link-excluded:hover { background-color: var(--error-tertiary-color); }
.story-card-grid a.tag-link.tag-link-excluded { background-color: var(--error-secondary-color); }
.story-card-grid a.tag-link.tag-link-excluded:hover { background-color: var(--error-tertiary-color); }

input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled) {
  background-color: var(--highlight-bg-color);
}

.featured_star { color: var(--star-color); }

select[name="select_color"] {
  background: var(--primary-fg-color);
  color: var(--content-bg-color);
}

tr.notification:nth-child(even) {
  background-color: var(--highlight-bg-color);
}

input, textarea, select {
    border-color: var(--border-color);
    background-color: var(--input-bg-color);
    color: var(--input-fg-color);
}

fieldset {
  border-width: 2px;
  border-color: var(--border-color);
}
