<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ persistent.site.name }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% match persistent.style.color_scheme %}
  {% when intertextual::models::style::ColorScheme::Light %}
  <meta name="theme-color" content="white">
  {% when intertextual::models::style::ColorScheme::Dark %}
  <meta name="theme-color" content="#333333">
  {% when intertextual::models::style::ColorScheme::Green %}
  <meta name="theme-color" content="#77FF77">
  {% when intertextual::models::style::ColorScheme::BrowserDefault %}
  <meta name="color-scheme" content="light dark">
  {% endmatch %}
  <link rel="stylesheet" href="/theme/base.css?{{ persistent.site.cachebuster }}">
  <meta property="og:image" content="/theme/card-image.png">
  <meta name="twitter:image" content="/theme/card-image.png">
  {% block head %}{% endblock %}
  <meta name="nonfiction" content="false">
  {% if persistent.site.is_adult %}
  <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA">
  <script src="/js/age_verification.js"></script>
  {% endif %}
  <script src="/js/autocompletion.js"></script>
</head>
<body {{ persistent.get_classes()|safe }}>
  {% if persistent.site.is_adult %}
  <div id="age-verification" style="display: none;">
    <div id="age-verification-modal">
      <h1>Age verification required</h1>
      <button id="age-verification-button" onclick="age_verified()">I am 18 years old or older.</button>
      <br />
      <label>
        <input type="checkbox" id="age-verification-permanent" />
        Remember me
      </label>
      <input type="hidden" id="age-verification-secure-cookie" value="{{ persistent.site.secure_cookies }}" />
    </div>
  </div>
  {% endif %}
  <div id="navbar">
    <div id="navbar-top">
      <div class="nav-left nav-main-item">
        <a href="/">
          <img src="/theme/icon-dark-mode.png" height="50px" title="{{ persistent.site.name }}">
        </a>
      </div>
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div class="nav-right nav-can-collapse nav-right-rightmost">
            <form class="link-style-form nav-link" action="/logout/" method="POST">
              <button class="link-like">Logout</button>
            </form>
          </div>
          {% if user_data.admin_notifications > 0 %}
          <div class="nav-right nav-can-collapse nav-notifications">
            {% if user_data.admin_notifications > 9 %}
              <a class="nav-link" href="/admin/">Moderation<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% else %}
              <a class="nav-link" href="/admin/">Moderation<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.admin_notifications }}</div></a>
            {% endif %}
          </div>
          {% endif %}
          <div class="nav-right nav-can-collapse nav-notifications">
            {% if user_data.unread_notifications_count > 9 %}
              <a class="nav-link" href="/notifications/">Notifications<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% elseif user_data.unread_notifications_count > 0 %}
              <a class="nav-link" href="/notifications/">Notifications<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div></a>
            {% elseif user_data.has_unread_events %}
              <a class="nav-link" href="/notifications/#events">Notifications<div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div></a>
            {% else %}
              <a class="nav-link" href="/notifications/">Notifications</a>
            {% endif %}
          </div>
          <div class="nav-right nav-can-collapse nav-username">
            <a class="nav-link" href="/@{{ user_data.username }}/">My Profile</a>
          </div>
        {% when None %}
          <div class="nav-right nav-can-collapse nav-right-rightmost"><a class="nav-link" href="/login/">Register / Log In</a></div>
      {% endmatch %}
      <details id="settings-dropdown-controller" class="nav-right nav-can-collapse nav-icon nav-style">
        <summary>
          Settings
        </summary>
        <div id="settings-dropdown">
          {% include "common/style_menu.html" %}
          {% match persistent.login %}
          {% when Some with (user_data) %}
          <div class="other-settings">
            <a href="/settings/" class="nav-link">
              Account settings
            </a>
          </div>
          {% when None %}
          {% endmatch %}
        </div>
      </details>
      <script type="application/javascript">
        "use strict";
        window.addEventListener("scroll", function() {
          var controller = document.getElementById("settings-dropdown-controller");
          if (!controller.open) {
            return;
          }
          controller.open = false;
        });
        window.addEventListener("keydown", function(event) {
          if (event.key != "Escape") {
            return;
          }
          var controller = document.getElementById("settings-dropdown-controller");
          if (!controller.open) {
            return;
          }
          controller.open = false;
        });
        window.addEventListener("click", function(event) {
          var controller = document.getElementById("settings-dropdown-controller");
          if (!controller.open) {
            return;
          }
          var isClickingInside = controller.contains(event.target);
          if (!isClickingInside) {
            controller.open = false;
          }
        });
      </script>
      <label id="nav-right-menu-button" class="nav-right" for="sidepanel-opener">
        <svg width=30 height=30 viewBox="0 0 50 50" style="padding: 10px">
          <rect x=0 y=0 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=20 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=40 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
        </svg>
        {% match persistent.login %}
          {% when Some with (user_data) %}
            {% if user_data.admin_notifications + user_data.unread_notifications_count > 9 %}
              <div class="nav-notification-badge" title="Click to see new notifications">9+</div>
            {% elseif user_data.admin_notifications + user_data.unread_notifications_count > 0 %}
              <div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div>
            {% elseif user_data.has_unread_events %}
              <div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div>
            {% endif %}
          {% when None %}
        {% endmatch %}
      </label>
    </div>
    <div id="navbar-bottom">
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/stories/">Stories</a></div>
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/authors/">Authors</a></div>
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/tags/">Tags</a></div>
      <div class="nav-right nav-can-collapse nav-right-rightmost">
        <a class="nav-link nav-search-icon" title="Search" href="/search/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <title>Search</title>
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
        </a>
      </div>
      <div class="nav-right nav-can-collapse"><a class="nav-link" href="/about/">About</a></div>
      {% match persistent.login %}
        {% when Some with (user_data) %}
          {% if user_data.marked_for_later > 0 %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/marked_for_later/">To Read Later ({{ user_data.marked_for_later }})</a></div>
          {% else %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/marked_for_later/">To Read Later</a></div>
          {% endif %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user_data.username }}/">Your Suggestions</a></div>
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/submit/">Submit</a></div>
        {% when None %}
      {% endmatch %}
    </div>
  </div>

  <div id="main-content">
    {% block body %}
    {% endblock %}
  </div>
    
  <div id="sidepanel">
    <input id="sidepanel-opener" type="checkbox" style="display: none;" />
    <div id="sidepanel-contents">
      <label id="sidepanel-menu-button" for="sidepanel-opener">
        <svg width=30 height=30 viewBox="0 0 50 50" style="padding: 10px">
          <rect x=0 y=0 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=20 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=40 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
        </svg>
      </label>
      <div class="sidepanel-main-title"><a href="/">{{ persistent.site.name }}</a></div>
      <hr />
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div><a href="/@{{ user_data.username }}/">My Profile</a></div>
          {% if user_data.admin_notifications > 0 %}
          <div class="nav-notifications">
            {% if user_data.admin_notifications > 9 %}
              <a class="nav-link" href="/admin/">Moderation<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% else %}
              <a class="nav-link" href="/admin/">Moderation<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.admin_notifications }}</div></a>
            {% endif %}
          </div>
          {% endif %}
          <div class="nav-notifications">
            {% if user_data.unread_notifications_count > 9 %}
              <a class="nav-link" href="/notifications/">Notifications<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% elseif user_data.unread_notifications_count > 0 %}
              <a class="nav-link" href="/notifications/">Notifications<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div></a>
            {% elseif user_data.has_unread_events %}
              <a class="nav-link" href="/notifications/#events">Notifications<div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div></a>
            {% else %}
              <a class="nav-link" href="/notifications/">Notifications</a>
            {% endif %}
          </div>
          <div><a href="/settings/">Account Settings</a></div>
          <div>
            <form class="link-style-form" action="/logout/" method="POST">
              <button class="link-like">Logout</button>
            </form>
          </div>
        {% when None %}
          <div><a href="/login/">Register / Log In</a></div>
      {% endmatch %}
      <hr />
      <div><a href="/whatsnew/">Stories</a></div>
      <div><a href="/authors/">Authors</a></div>
      <div><a href="/tags/">Tags</a></div>
      <hr />
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div><a href="/submit/">Submit</a></div>
          <div><a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user_data.username }}/">Your Suggestions</a></div>
          {% if user_data.marked_for_later > 0 %}
          <div><a href="/marked_for_later/">To Read Later ({{ user_data.marked_for_later }})</a></div>
          {% else %}
          <div><a href="/marked_for_later/">To Read Later</a></div>
          {% endif %}
        {% when None %}
      {% endmatch %}
      <div><a href="/about/">About</a></div>
      <div><a href="/search/">Search</a></div>
      <hr />
      <div class="style">
        {% include "common/style_menu.html" %}
      </div>
    </div>
    <label id="sidepanel-contents-close" for="sidepanel-opener">
    </label>
  </div>
</body>
</html>
