{%- macro standard(display_mode, story) -%}
<section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ story.get_card_extra_classes() }}">
  {% if !story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">{{ story.last_update_formatted() }}</div>
  {% match story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    <a href="/{{ story.author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
  </div>
  <div class="story-card-authors">
    by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <div class="story-card-word-count">
    {% if story.is_ongoing %}[Ongoing]{% endif %}
    {% if story.chapter_count == 1 %}
      ({{ story.word_count }} words)
    {% else %}
      ({{ story.chapter_count}} chapters, {{ story.word_count }} words)
    {% endif %}
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if story.minor_tags.len() + story.spoiler_tags.len() > 0 %}
      (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in story.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if story.spoiler_tags.len() > 0 %}
    <details class="story-card-tags-spoilers">
      <summary>
        (Click to show spoiler tags)
      </summary>
      {% for (_, tag) in story.spoiler_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
  </details>
  {% if story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !story.excluded_authors.is_empty() || !story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ story.description.html().borrow()|san|safe }}
  </p>
  {% if story.can_mark_for_later %}
    {% if story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/remove_marked_for_later/" method="POST">
          <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/mark_for_later/" method="POST">
          <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}

{%- macro author_page(display_mode, entry) -%}
<section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ entry.story.get_card_extra_classes() }}">
  {% if !entry.story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ entry.story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">{{ entry.story.last_update_formatted() }}</div>
  {% match entry.story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match entry.story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    {% if entry.is_story_featured %}<span class="featured_star" title="Featured by the author !">&starf;</span>{% endif %}
    <a href="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/">{{ entry.story.title }}</a>
  </div>
  <div class="story-card-authors">
    by {% for author in entry.story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <div class="story-card-controls">
  </div>
  <div class="story-card-word-count" style="text-align: center;">
    {% if entry.story.is_ongoing %}[Ongoing]{% endif %}
    {% if entry.story.chapter_count == 1 %}
      ({{ entry.story.word_count }} words)
    {% else %}
      ({{ entry.story.chapter_count}} chapters, {{ entry.story.word_count }} words)
    {% endif %}
  </div>
  <div class="story-card-controls">
    {% if is_self %}
      <div class="story-card-control-entry">
        <form class="link-style-form" action="/toggle_featured/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/" method="POST">
          <button class="link-like">({% if entry.is_story_featured %}un-feature{%else %}feature{% endif %})</button>
        </form>
      </div>
    {% endif %}
    {% if is_self %}
      <div class="story-card-control-entry">
        <a href="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/0/settings/">(settings)</a>
      </div>
    {% endif %}
    {% if is_administrator %}
      <div class="story-card-control-entry">
        <a href="/admin/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/1/">(lock/unlock)</a>
      </div>
    {% endif %}
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in entry.story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if entry.story.minor_tags.len() + entry.story.spoiler_tags.len() > 0 %}
      (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in entry.story.minor_tags %}
    <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if entry.story.spoiler_tags.len() > 0 %}
    <details>
      <summary>
        (Click to show spoiler tags)
      </summary>
      {% for (_, tag) in entry.story.spoiler_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
  </details>
  {% if entry.story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ entry.story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in entry.story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !entry.story.excluded_authors.is_empty() || !entry.story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in entry.story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in entry.story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ entry.story.description.html().borrow()|san|safe }}
  </p>
  {% if entry.story.can_mark_for_later %}
    {% if entry.story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/0/remove_marked_for_later/" method="POST">
          <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/0/mark_for_later/" method="POST">
          <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}

{%- macro recommendation_page(display_mode, recommendation) -%}
<section class="recommendation {% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ recommendation.story.get_card_extra_classes() }}">
  {% if !recommendation.story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ recommendation.story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">{{ recommendation.story.last_update_formatted() }}</div>
  {% match recommendation.story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match recommendation.story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    <a href="/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/">
      {{ recommendation.story.title }}
    </a>
  </div>
  <div class="story-card-authors">
    by {% for author in recommendation.story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <div class="story-card-word-count">
    {% if recommendation.story.is_ongoing %}[Ongoing]{% endif %}
    {% if recommendation.story.chapter_count == 1 %}
      ({{ recommendation.story.word_count }} words)
    {% else %}
      ({{ recommendation.story.chapter_count}} chapters, {{ recommendation.story.word_count }} words)
    {% endif %}
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in recommendation.story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if recommendation.story.minor_tags.len() + recommendation.story.spoiler_tags.len() > 0 %}
      (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in recommendation.story.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if recommendation.story.spoiler_tags.len() > 0 %}
    <details class="story-card-tags-spoilers">
      <summary>
        (Click to show spoiler tags)
      </summary>
      {% for (_, tag) in recommendation.story.spoiler_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
  </details>
  {% if recommendation.story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ recommendation.story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in recommendation.story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !recommendation.story.excluded_authors.is_empty() || !recommendation.story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in recommendation.story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in recommendation.story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ recommendation.story.description.html().borrow()|san|safe }}
  </p>
  <div class="story-card-recommender">
    Suggestion by {{ author.display_name }} 
  </div>
  <div class="story-card-controls">
    {% if is_administrator %}
      <div class="story-card-control-entry">
        <a href="/admin/recommendations/@{{ author.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/">(admin action : delete)</a>
      </div>
    {% endif %}
    {% if is_self %}
      <div class="story-card-control-entry">
        <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ author.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/edit/">(edit this suggestion)</a>
      </div>
    {% endif %}
    {% if recommendation.can_report %}
      <div class="story-card-control-entry">
        {% if recommendation.is_already_reported %}
          You already reported this suggestion.
          <form class="link-style-form" action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ author.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/unreport/" method="POST">
            <button class="link-like">(undo)</button>
          </form>
        {% else %}
          <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ author.username }}/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/report/">(report this suggestion)</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if !recommendation.formatted_recommendation.is_empty() %}
    <p class="story-card-recommendation">
      {{ recommendation.formatted_recommendation|san|safe }}
    </p>
  {% endif %}
  {% if recommendation.story.can_mark_for_later %}
    {% if recommendation.story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/0/remove_marked_for_later/" method="POST">
          <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ recommendation.story.author_path }}/{{ recommendation.story.url_fragment }}/0/mark_for_later/" method="POST">
          <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}

{%- macro latest_story(display_mode, story, extra_information) -%}
<section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ story.get_card_extra_classes() }}">
  {% if !story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">{{ extra_information.entry_update_formatted() }}</div>
  {% match story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    <a href="/{{ story.author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
  </div>
  <div class="story-card-authors">
    by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <div class="story-card-word-count">
    {% if story.is_ongoing %}[Ongoing]{% endif %}
    {% if extra_information.is_new_story %}
    {% if extra_information.chapter_count == 1 %}
      New story ({{ extra_information.word_count }} words)
    {% else %}
      New story ({{ extra_information.chapter_count}} chapters, {{ extra_information.word_count }} words)
    {% endif %}
    {% else %}
    {% if extra_information.chapter_count == 1 %}
      Updated story ({{ extra_information.chapter_count }} chapter, {{ extra_information.word_count }} words)
    {% else %}
      Updated story ({{ extra_information.chapter_count }} chapters, {{ extra_information.word_count }} words)
    {% endif %}
    {% endif %}
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if story.minor_tags.len() + story.spoiler_tags.len() > 0 %}
        (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in story.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if story.spoiler_tags.len() > 0 %}
      <details class="story-card-tags-spoilers">
        <summary>
          (Click to show spoiler tags)
        </summary>
        {% for (_, tag) in story.spoiler_tags %}
          <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
        {% endfor %}
      </details>
    {% endif %}
  </details>
  {% if story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !story.excluded_authors.is_empty() || !story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ story.description.html().borrow()|san|safe }}
  </p>
  {% if story.can_mark_for_later %}
    {% if story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/remove_marked_for_later/" method="POST">
        <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/mark_for_later/" method="POST">
        <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}

{%- macro whatsnew(display_mode, story, extra_information) -%}
<section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ story.get_card_extra_classes() }}">
  {% if !story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">({{ extra_information.status }})</div>
  {% match story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    <a href="/{{ story.author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
  </div>
  <div class="story-card-authors">
    by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if story.minor_tags.len() + story.spoiler_tags.len() > 0 %}
      (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in story.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if story.spoiler_tags.len() > 0 %}
    <details class="story-card-tags-spoilers">
      <summary>
        (Click to show spoiler tags)
      </summary>
      {% for (_, tag) in story.spoiler_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
  </details>
  {% if story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !story.excluded_authors.is_empty() || !story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ story.description.html().borrow()|san|safe }}
  </p>
  {% if story.can_mark_for_later %}
    {% if story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/remove_marked_for_later/" method="POST">
          <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/mark_for_later/" method="POST">
          <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}

{%- macro search_result(display_mode, story, search_result) -%}
<section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %} {{ story.get_card_extra_classes() }}">
  {% if !story.get_card_corner_message().is_empty() %}
    <div class="story-card-hidden-info">{{ story.get_card_corner_message() }}</div>
  {% endif %}
  <div class="story-card-publication-date">{{ story.last_update_formatted() }}</div>
  {% match story.story_symbol %}
    {% when Some with (symbol) %}
      <div class="story-card-symbol">{{ symbol }}</div>
    {% when None %}
  {% endmatch %}
  <div class="story-card-title" {% match story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
    <a href="/{{ story.author_path }}/{{ story.url_fragment }}/">{{ story.title }}</a>
  </div>
  <div class="story-card-authors">
    by {% for author in story.authors %}<a href="/@{{ author.username }}/">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </div>
  <div class="story-card-word-count">
    {% if story.is_ongoing %}[Ongoing]{% endif %}
    {% if story.chapter_count == 1 %}
      ({{ story.word_count }} words)
    {% else %}
      ({{ story.chapter_count}} chapters, {{ story.word_count }} words)
    {% endif %}
  </div>
  <div class="story-card-match-percent">
    ({{ search_result.percent_match }}% match)
  </div>
  <details class="story-card-tags">
    <summary>
      {% for (_, tag) in story.major_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if story.minor_tags.len() + story.spoiler_tags.len() > 0 %}
      (click to see all tags)
      {% endif %}
    </summary>
    {% for (_, tag) in story.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
    {% if story.spoiler_tags.len() > 0 %}
    <details class="story-card-tags-spoilers">
      <summary>
        (Click to show spoiler tags)
      </summary>
      {% for (_, tag) in story.spoiler_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
  </details>
  {% if story.spoilered_mandatory_tags.len() > 0 %}
  <details class="story-card-tags-spoilered-mandatory">
    <summary>
      (Some {{ story.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
    </summary>
    {% for (_, tag) in story.spoilered_mandatory_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </details>
  {% endif %}
  {% if !story.excluded_authors.is_empty() || !story.excluded_tags.is_empty() %}
  <section class="story-card-tags">
    <strong>Story is excluded :</strong><br />
    {% for author in story.excluded_authors %}
      <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/">author: {{ author.display_name }}</a>
    {% endfor %}
    {% for (_, tag) in story.excluded_tags %}
      <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}">#{{ tag.display_name }}</a>
    {% endfor %}
  </section>
  {% endif %}
  <p class="story-card-description">
    {{ story.description.html().borrow()|san|safe }}
  </p>
  {% if story.can_mark_for_later %}
    {% if story.is_marked_for_later %}
      <div class="story-card-mark-for-later-info">
        To read later
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/remove_marked_for_later/" method="POST">
          <button class="link-like">(remove)</button>
        </form>
      </div>
    {% else %}
      <div class="story-card-mark-for-later-info">
        <form class="link-style-form" target="_blank" action="/{{ story.author_path }}/{{ story.url_fragment }}/0/mark_for_later/" method="POST">
          <button class="link-like">Read later</button>
        </form>
      </div>
    {% endif %}
  {% endif %}
</section>
{%- endmacro -%}
