<form class="style-menu" method="POST" action="/style">
  <div class="color-scheme">
    <label>
      <input class="style-input-hidden" type="radio" name="color_scheme" value="browser_default" {% if persistent.style.color_scheme == intertextual::models::style::ColorScheme::BrowserDefault %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
        <title>Browser default color scheme</title>
        <circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="color_scheme" value="light" {% if persistent.style.color_scheme == intertextual::models::style::ColorScheme::Light %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
        <title>Light mode</title>
        <circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="color_scheme" value="dark" {% if persistent.style.color_scheme == intertextual::models::style::ColorScheme::Dark %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon">
        <title>Dark mode</title>
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="color_scheme" value="green" {% if persistent.style.color_scheme == intertextual::models::style::ColorScheme::Green %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Green mode</title>
        <path d='M 3.6 22.9C 4.1 20.2 5.9 18 7.2 15.7C 13.8 19.4 22 11.5 19.3 1.2C 6.6 2.9 -0.8 11 5.3 14.6' />
        <path d='M 8.4 13.5C 10.6 9.8 13.7 6.7 17.3 4.2' />
      </svg>
    </label>
  </div>
  <div class="font-family">
    <label>
      <input class="style-input-hidden" type="radio" name="font_family" value="serif" {% if persistent.style.font_family == intertextual::models::style::FontFamily::Serif %}checked {% endif %}/>
      <span class="font-serif">Serif</span>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="font_family" value="sans_serif" {% if persistent.style.font_family == intertextual::models::style::FontFamily::SansSerif %}checked {% endif %}/>
      <span class="font-sans-serif">Sans</span>
    </label>
  </div>
  <div class="font-size">
    <label>
      <span class="font-size-label">Font Size</span>
      <input class="style-input-number" name="font_size" type="number" min="10" max="36" step="1" value="{{ persistent.style.font_size }}">
    </label>
  </div>
  <div class="text-align">
    <label>
      <input class="style-input-hidden" type="radio" name="text_alignment" value="left" {% if persistent.style.text_alignment == intertextual::models::style::TextAlignment::Left %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left">
        <title>Left-align text</title>
        <line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="text_alignment" value="justify" {% if persistent.style.text_alignment == intertextual::models::style::TextAlignment::Justify %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
        <title>Justify text</title>
        <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line>
      </svg>
    </label>
  </div>
  <div class="content-width">
    <label>
      <input class="style-input-hidden" type="radio" name="content_width" value="wide" {% if persistent.style.content_width == intertextual::models::style::ContentWidth::Wide %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Wide content</title>
        <path d="M3,12L1,12L3,15M1,12L3,9"></path>
        <line x1="17" y1="6" x2="7" y2="6"></line>
        <line x1="17" y1="10" x2="7" y2="10"></line>
        <line x1="17" y1="14" x2="7" y2="14"></line>
        <line x1="17" y1="18" x2="7" y2="18"></line>
        <path d="M20,12L23,12L20,15M23,12L20,9"></path>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="content_width" value="narrow" {% if persistent.style.content_width == intertextual::models::style::ContentWidth::Narrow %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Narrow content</title>
        <path d="M1,12L5,12L3,15M5,12L3,9"></path>
        <line x1="15" y1="6" x2="9" y2="6"></line>
        <line x1="15" y1="10" x2="9" y2="10"></line>
        <line x1="15" y1="14" x2="9" y2="14"></line>
        <line x1="15" y1="18" x2="9" y2="18"></line>
        <path d="M23,12L18,12L20,15M18,12L20,9"></path>
      </svg>
    </label>
  </div>
  <div class="paragraph-layout">
    <label>
      <input class="style-input-hidden" type="radio" name="paragraph_layout" value="classic" {% if persistent.style.paragraph_layout == intertextual::models::style::ParagraphLayout::Classic %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Classic paragraph layout</title>
        <line x1="23" y1="2" x2="5" y2="2"></line>
        <line x1="23" y1="5" x2="2" y2="5"></line>
        <line x1="23" y1="8" x2="2" y2="8"></line>
        <line x1="18" y1="11" x2="2" y2="11"></line>
        <line x1="23" y1="14" x2="5" y2="14"></line>
        <line x1="23" y1="17" x2="2" y2="17"></line>
        <line x1="15" y1="20" x2="2" y2="20"></line>
      </svg>
    </label>
    <label>
      <input class="style-input-hidden" type="radio" name="paragraph_layout" value="modern" {% if persistent.style.paragraph_layout == intertextual::models::style::ParagraphLayout::Modern %}checked {% endif %}/>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Modern paragraph layout</title>
        <line x1="23" y1="2" x2="2" y2="2"></line>
        <line x1="23" y1="5" x2="2" y2="5"></line>
        <line x1="20" y1="8" x2="2" y2="8"></line>
        <line x1="23" y1="14" x2="2" y2="14"></line>
        <line x1="23" y1="17" x2="2" y2="17"></line>
        <line x1="18" y1="20" x2="2" y2="20"></line>
      </svg>
    </label>
  </div>
  <input type="hidden" name="current_path" value="{{ persistent.current_path }}" />
  <input class="style-submit" type="submit" value="Submit" />
</form>
