{% extends "common/base.html" %}

{% block title %}
About {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1 class="main-title centered-section">About {{ persistent.site.name }}</h1>

<article class="centered-section">
    <ul>
        {% if has_faq %}
        <li><a href="/faq/">Frequently Asked Questions</a></li>
        {% endif %}
        <li><a href="/rules/">Code of Conduct</a></li>
        <li><a href="/terms_of_service/">Terms of Service and Privacy Policy</a></li>
        {% if has_legal %}
        <li><a href="/legal/">Legal Mentions</a></li>
        {% endif %}
        {% if has_contact %}
        <li><a href="/contact/">Contact Us</a></li>
        {% endif %}
    </ul>
</article>

{% endblock %}
