{% extends "common/base.html" %}

{% block title %}
{{ title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<h1 class="main-title">{{ title }}</h1>

<article class="chapter-overview centered-section">
  <section id="chapter-content" class="chapter-prose">
    {{ self.content|san|safe }}
  </section>
</article>

{% endblock %}
