{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block title %}
{% if query != "" %}
{{ persistent.site.name }} - {{ query }}
{% else %}
{{ persistent.site.name }} - New Search
{% endif %}
{% endblock %}

{% block body %}
{% if query != "" %}
<h1>Search results for "{{ query }}"</h1>
{% else %}
<h1>Start a new search</h1>
{% endif %}

<form action="" method="get">
  Search :
  <input id="main_search_field" autocomplete="off" type="text" name="q" value="{{ query }}" style="width: 500px">
</form>

<details id="main-search-advanced" {%if open_advanced_by_default %}open{% endif %}>
  <summary>Show advanced search</summary>
  <form action="/search/advanced/" method="POST">
    <label><div style="display: inline-block; width: 300px">Story title: </div><input name="title" type="text" value="{{ default_title }}" style="width: 330px"></label>
    <label><div style="display: inline-block; width: 300px">Author name: </div><input id="advanced_author_field" autocomplete="off" name="author_name" value="{{ default_author_name }}" style="width: 330px" type="text"></label>
    <label><div style="display: inline-block; width: 300px">Description: </div><input name="description" value="{{ default_description }}" style="width: 330px" type="text"></label>
    <label><div style="display: inline-block; width: 300px">Include tag: </div><input id="advanced_add_tag_field" autocomplete="off" name="add_tag" style="width: 330px" type="text"></label>
    {% for category in included_categories %}
    <div style="display: inline-block; width: 300px">Include {{ category.category_name }}: </div>
    <ul>
      {% for tag in category.tags %}
      <li><label><input type="checkbox" name="include_tag_{{ tag.tag_name }}" {% if tag.checked %}checked{% endif %} />{{ tag.tag_name }}</label></li>
      {% endfor %}
    </ul>
    {% endfor %}
    <label>
      <div>List of included tags: </div>
      <textarea name="included_tags" style="width: 638px" readonly>{{ default_included_tags }}</textarea>
    </label>
    <label><div style="display: inline-block; width: 300px">Exclude tag: </div><input id="advanced_remove_tag_field" autocomplete="off" name="remove_tag" type="text" style="width: 330px"></label>
    {% for category in excluded_categories %}
    <div style="display: inline-block; width: 300px">Exclude {{ category.category_name }}: </div>
    <ul>
      {% for tag in category.tags %}
      <li><label><input type="checkbox" name="exclude_tag_{{ tag.tag_name }}" {% if tag.checked %}checked{% endif %} />{{ tag.tag_name }}</label></li>
      {% endfor %}
    </ul>
    {% endfor %}
    <label>
      <div style="display: inline-block; width: 300px">List of excluded tags: </div>
      <textarea name="excluded_tags" style="width: 630px" readonly>{{ default_excluded_tags }}</textarea>
    </label>
    <input type="submit" value="Start advanced search" />
  </form>
</details>

{% match tag_details %}
  {% when Some with (tag_details) %}
    <article>
      <header>
        <h3>#{{ tag_details.name }}</h3>
      </header>
      <p>
        Category : {{ tag_details.category }}
      </p>
      {% for tag in tag_details.equivalent_tags %}
      {% if loop.first %}
      <section class="equivalent">
        <p>
          These tags redirect here :
      {% endif %} 
      #{{ tag }}
      {% if loop.last %}
        </p>
      </section>
      {% endif %}
      {% endfor %}
      {% if !tag_details.description.is_empty() %}
      <section class="description">
        {{ tag_details.description }}
      </section>
      {% endif %}
    </article>
  {% when None %}
{% endmatch %}

{% for (query, result_count) in solutions %}

{% if loop.first %}
<article id="main-search-results">
  <header>
    <h2>Several possible queries found :</h2>
  </header>
{% endif %}
  <a href="/search/?q={{ percent_encoding::utf8_percent_encode(query, percent_encoding::NON_ALPHANUMERIC).to_string() }}">{{query}}</a> : {{ result_count }} stories<br />

{% if loop.last %}
</article>
{% endif %}
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/search/?q={{ percent_encoding::utf8_percent_encode(query, percent_encoding::NON_ALPHANUMERIC).to_string() }}{% if open_advanced_by_default %}&advanced=true{% endif %}&start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% if !stories.is_empty() || !excluded_stories.is_empty() %}
<article id="main-search-results" class="story-card-grid">
  <header>
    <section id="sorting_modes" class="sorting_modes">
      <div>
        <div>Sort by :&nbsp;</div>
        <section>
          <a href="?q={{ percent_encoding::utf8_percent_encode(query, percent_encoding::NON_ALPHANUMERIC).to_string() }}{% if open_advanced_by_default %}&advanced=true{% endif %}&sort_by={{ sort_mode.next_title_sort() }}#sorting_modes">
            Title
          </a>
          {{ sort_mode.title_symbol() }}
        </section>
        <section>
          <a href="?q={{ percent_encoding::utf8_percent_encode(query, percent_encoding::NON_ALPHANUMERIC).to_string() }}{% if open_advanced_by_default %}&advanced=true{% endif %}&sort_by={{ sort_mode.next_update_sort() }}#sorting_modes">
            Last Updated
          </a>
          {{ sort_mode.update_symbol() }}
        </section>
      </div>
    </section>
    <h2>Results</h2>
  </header>
  {% for (story, search_result) in stories %}
    {% call story_card::search_result("list".to_string(), story, search_result) %}
  {% endfor %}
</article>
{% endif %}

{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for (story, search_result) in excluded_stories %}
      {% call story_card::search_result("list".to_string(), story, search_result) %}
    {% endfor %}
  </article>
</details>
{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/search/?q={{ percent_encoding::utf8_percent_encode(query, percent_encoding::NON_ALPHANUMERIC).to_string() }}{% if open_advanced_by_default %}&advanced=true{% endif %}&start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<script>
  setup_general_autocompletion("main_search_field");
  setup_author_autocompletion("advanced_author_field");
  setup_tag_autocompletion("advanced_add_tag_field");
  setup_tag_autocompletion("advanced_remove_tag_field");
</script>
{% endblock %}
