{% extends "common/base.html" %}

{% block title %}
Tags - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="centered-section">
  <header>
    <h1 style="text-align: center;">All Tags</h1>
  </header>

  <section id="tags-actions-list">
    <section class="listing">
      <a href="/tags/">List</a>
    </section>
    <section class="popular">
      Most Popular
    </section>
  </section>

  {% for tag in tags %}
  {% if loop.first %}
  <p style="text-align: center;">
  {% endif %}
    <span style="font-size: {{tag.em_size}}em;">
      <a href="/search/?q=%23{{ tag.name }}" {% if !tag.description.is_empty() %}title="{{ tag.description }}"{% endif %}>#{{ tag.name }}&nbsp;({{ tag.tagged_stories }})</a>
    </span>
  {% if loop.last %}
  </p>
  {% endif %}
  {% endfor %}
</article>

{% endblock %}
