{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block head %}
<meta name="publisher" content="{{ persistent.site.name }}">
<meta name="description" content="{{ whatsnew_description }}">
<meta name="created" content="{{ current_end_date }}">
<meta name="keywords" content="stories{% for tag in persistent.site.tags %},{{ tag }}{% endfor %}">

<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
<meta name="dcterms.subject" content="stories{% for tag in persistent.site.tags %} {{ tag }}{% endfor %}">
<meta name="dcterms.description" content="{{ whatsnew_description }}">
<meta name="dcterms.publisher" content="{{ persistent.site.name }}">
<meta name="dcterms.type" content="Collection">
<meta name="dcterms.format" content="text/html">

<meta property="og:title" content="{{ persistent.site.name }} - {{ whatsnew_title }}">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ persistent.site.name }}">
<meta property="og:description" content="{{ whatsnew_description }}">
<meta property="og:url" content="{{ persistent.site.base_url }}/whatsnew/{{ current_end_date }}/">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ persistent.site.name }} - {{ whatsnew_title }}">
<meta name="twitter:description" content="{{ whatsnew_description }}">
<meta name="twitter:url" content="{{ persistent.site.base_url }}/whatsnew/{{ current_end_date }}/">
{% endblock %}

{% block title %}
{{ whatsnew_title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<article class="story-card-grid">
  <header>
    <h1>{{ whatsnew_title }}</h1>
    <nav>
      <a href="/whatsnew/{{ current_end_date }}/whatsnew.txt">Get the list of stories as a .txt file</a>
      {% match previous_end_date %}
        {% when Some with (previous_end_date) %} 
          <br />
          <a href="/whatsnew/{{ previous_end_date }}/">See stories from the previous week ({{ previous_end_date }})</a></li>
        {% when None %}
      {% endmatch %}
      {% match next_end_date %}
        {% when Some with (next_end_date) %} 
          <br />
          <a href="/whatsnew/{{ next_end_date }}/">See stories from the following week ({{ next_end_date }})</a>
        {% when None %}
      {% endmatch %}
    </nav>
  </header>

  {% for (story, extra_information) in stories %}
    {% call story_card::whatsnew("list".to_string(), story, extra_information) %}
  {% endfor %}
</article>

{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for (story, extra_information) in excluded_stories %}
      {% call story_card::whatsnew("list".to_string(), story, extra_information) %}
    {% endfor %}
  </article>
</details>
{% endif %}

{% endblock %}
