#!/bin/bash
set -euo pipefail

logrotate /var/local/backup-rotation.conf

sudo -u postgres pg_dumpall --clean --if-exists | age {% for recipient in postgres_backup_recipients %}-r '{{ recipient }}' {% endfor %} -o /var/local/backup/pgdump.sql.age
