{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block head %}
<style>
  #sorting_modes {
    margin-top: 1.5em;
    float: none;
  }
</style>
{% endblock %}

{% block title %}
To Read Later - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>To Read Later - {{ user.display_name }}</h1>


{% if !stories.is_empty() %}
<section id="sorting_modes" class="sorting_modes">
  <div>
    <div style="flex-grow: 1;"></div>
    <div>Sort by :&nbsp;</div>
    <section>
      {% if sorting_mode == "oldest" %}
      <a href="?sort_by=recent#sorting_modes">Added to list (oldest)</a>
      {% elseif sorting_mode == "recent" %}
      <a href="?sort_by=oldest#sorting_modes">Added to list (newest)</a>
      {% else %}
      <a href="?sort_by=recent#sorting_modes">Added to list</a>
      {% endif %}
    </section>
    <section>
      {% if sorting_mode == "title_asc" %}
      <a href="?sort_by=title_desc#sorting_modes">A-Z &#8595;</a>
      {% elseif sorting_mode == "title_desc" %}
      <a href="?sort_by=title_asc#sorting_modes">A-Z &#8593;</a>
      {% else %}
      <a href="?sort_by=title_asc#sorting_modes">A-Z</a>
      {% endif %}
    </section>
  </div>
{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/marked_for_later/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<article id="main-search-results" class="story-card-grid">
  {% if stories.is_empty() && excluded_stories.is_empty() %}
  <section class="empty-story-card-grid">
    No stories marked for later
  </section>
  {% endif %}
  {% for story in stories %}
    {% call story_card::standard("list".to_string(), story) %}
  {% endfor %}
</article>

{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for story in excluded_stories %}
      {% call story_card::standard("list".to_string(), story) %}
    {% endfor %}
  </article>
</details>
{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/marked_for_later/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
