{% extends "common/base.html" %}

{% block title %}
Moderation Contact - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Moderation Contact</h1>

<nav>
  <p><a href="/@{{ username }}/">Back to your user page</a></p>
</nav>

<article class="new_comment">
  <form action="/moderation_contact/send/" method="POST">
    <textarea name="message" class="story_description" placeholder="Write a new message..."></textarea>
    <input type="submit" value="Send the message" />
  </form>
</article>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/moderation_contact/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% for mail in modmail %}
<article class="comment">
  <header class="comment-header">
    {% if mail.is_user_to_mods %}
    <a class="comment-username" href="#">You (@{{ username }})</a>
    {% else %}
    <a class="comment-username" href="#">Moderation team</a>
    {% endif %}
    <a class="comment-time" href="#">{{ mail.message_date.format("%Y-%m-%d %H:%M:%S (UTC+00)").to_string() }}</a>
  </header>
  <section class="comment-contents">
    {{ mail.message|san|safe }}
  </section>
</article>
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/moderation_contact/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}