{% extends "common/base.html" %}

{% block head %}
<style>
  #default_publication_future_date:not(:checked) ~ label ~ #future_date_extra_informations {
    display: none;
  }

  #default_publication_future_date:checked ~ label ~ #future_date_extra_informations {
    display: block;
  }

  input[name="use_custom_color"]:checked ~ select[name="select_color"] {
    display: none;
  }

  input[name="use_custom_color"]:not(:checked) ~ input[name="custom_color"] {
    display: none;
  }
</style>
<script src="/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block title %}
Settings for {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Settings for {{ user.display_name }} (@{{ user.username }})</h1>

<p><a href="/@{{ user.username }}/">Back to the profile page</a></p>

<h2>Account settings</h2>

{% match account_deletion_request %}
  {% when Some with (deletion_request) %}
    <article id="deletion_notice">
      <fieldset>
        <legend>
          <h3 style="color: red;">Your account is planned for deletion</h3>
        </legend>
        <p>
          Your account is planned for deletion on {{ deletion_request.0.format("%Y-%m-%d") }}.
          {% if deletion_request.1 %}
            Click <a href="#delete">here</a> to go to the cancellation option.
          {% else %}
            This action has been requested by a moderator and cannot be cancelled.
          {% endif %}
        </p>
      </fieldset>
    </article>
  {% when None %}
{% endmatch %}

{% if user.banned_by_moderator %}
<article id="ban_notice">
  <fieldset>
    <legend>
      <h3 style="color: red;">Your account is currently banned</h3>
    </legend>
    <p>
      A moderator has banned your account.
    </p>
  </fieldset>
</article>
{% endif %}

{% if user.deactivated_by_user %}
<article class="activation" id="activate">
  {% match account_deletion_request %}
    {% when Some with (deletion_request) %}
      <fieldset>
        <legend>
          <h3 style="color: orange;">Re-activate your account</h3>
        </legend>

        {% if show_deactivate_confirmation %}
        <section class="confirmation_box">
          <p>
            Account was deactivated successfully !
          </p>
        </section>
        {% endif %}

        <p>
          Your account is pending for deletion, and cannot be reactivated.
          {% if deletion_request.1 %}
            Click <a href="#delete">here</a> to go to the cancellation option.
          {% else %}
            This action has been requested by a moderator and cannot be cancelled.
          {% endif %}
        </p>
      </fieldset>
    {% when None %}
      <form action="/settings/@{{ user.username }}/activate/" method="POST">
        <fieldset>
          <legend>
            <h3 style="color: green;">Re-activate your account</h3>
          </legend>

          {% if show_deactivate_confirmation %}
          <section class="confirmation_box">
            <p>
              Account was deactivated successfully !
            </p>
          </section>
          {% endif %}

          <p>
            <label>
              Enter your password:<br />
              <input type="password" name="old_password" />
            </label>
          </p>
          <p><input type="submit" value="Re-activate your account" /></p>
        </fieldset>
      </form>
  {% endmatch %}
</article>
{% endif %}

<article class="settings" id="informations">
  <form action="/settings/@{{ user.username }}/informations/" method="POST">
    <fieldset>
      <legend>
        <h3>General Informations</h3>
      </legend>

      {% if show_informations_confirmation %}
      <section class="confirmation_box">
        <p>
          Informations were changed successfully !
        </p>
      </section>
      {% endif %}

      <p>
        <label>
          Username (cannot be modified):<br />
          <input type="text" name="username" value="{{ user.username }}" disabled />
        </label>
      </p>
      <p>
        <label>
          Display name:<br />
          <input type="text" name="display_name" value="{{ user.display_name }}" />
        </label>
      </p>
      <p>
        <label>
          Email address: (optional, will be shown publicly)<br />
          <input type="text" name="email" value="{{ user.email }}" class="input-full-width" />
        </label>
      </p>
      <p>
        <label>
          Details (max 10000 characters)<br>
          <h3 id="details_error_message" style="color: red; display: none;">
            Your details contain more than 10000 characters
          </h3>
          <textarea id="user_description" name="details">{{ user.details|san }}</textarea>
        </label>
      </p>
      <p><input id="details_update_button" type="submit" value="Update your personal information" /></p>
    </fieldset>
  </form>
</article>

<article class="settings" id="notifications">
  <form action="/settings/@{{ user.username }}/notifications/" method="POST">
    <fieldset>
      <legend>
        <h3>Notifications</h3>
      </legend>

      {% if show_notifications_confirmation %}
      <section class="confirmation_box">
        <p>
          Notification settings were changed successfully !
        </p>
      </section>
      {% endif %}

      {% for notification in user.notification_settings %}
        {% if loop.first %}<table>{% endif %}
        <tr>
          <td><label for="notification_{{ notification.category }}">{{ notification.category.to_user_facing_string() }}</label></td>
          <td>
            <select id="notification_{{ notification.category }}" name="notification_{{ notification.category }}">
              <option value="none" {% if notification.level == NotificationLevel::None %}selected{% endif %}>No indication</option>
              <option value="event" {% if notification.level == NotificationLevel::GreyDot %}selected{% endif %}>Grey dot (event)</option>
              <option value="notification" {% if notification.level == NotificationLevel::RedNumber %}selected{% endif %}>Red number (notification)</option>
            </select>
          </td>
        </tr>
        {% if loop.last %}</table>{% endif %}
      {% endfor %}
      <p><input type="submit" value="Update your notification settings" /></p>
    </fieldset>
  </form>
</article>

<article class="settings" id="tag_highlight_rules">
  <fieldset>
    <legend>
      <h3>Tag highlighting rules</h3>
    </legend>

    {% if show_tag_highlight_rules_update_confirmation %}
    <section class="confirmation_box">
      <p>
        Highlighting rules were updated successfully !
      </p>
    </section>
    {% endif %}

    <details {% if show_tag_highlight_rules_update_confirmation %}open{% endif %}>
      <summary>
        Configure your current rules - {{ current_tag_highlight_rules.len() }} rules currently in use
      </summary>
      <p>
        A story matches a highlighting rule if it has all the tags in the rule.<br>
        When a story matches a rule, the given color and symbol are displayed on the story card. If the color is empty, no color is applied. Similarly, if the symbol is empty, no symbol is shown.<br>
        Rules are tested from top to bottom. As soon as a story matches a rule, all the subsequent rules are ignored.
      </p>

      {% if available_tag_highlight_rules_templates.len() > 0 %}
        <p>
          You can use a pre-configured template:
        </p>
        <ul>
          {% for (template_name, template_description) in available_tag_highlight_rules_templates %}
            <li>
              <abbr title="{{ template_description }}">{{ template_name }}</abbr>
              <form style="display: inline" action="/settings/@{{ user.username }}/tag_highlight_rules_select_template/" method="POST">
                <input type="hidden" name="template_name" value="{{ template_name }}" />
                <button style="display: inline">Use this template</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <p>
        Current rules:
      </p>
      {% for rule_and_index in current_tag_highlight_rules %}
      <fieldset>
        <form style="display: inline" action="/settings/@{{ user.username }}/tag_highlight_rules_edit/" method="POST">
          <input type="hidden" name="template_index" value="{{ rule_and_index.0 }}" />
          <label>
            <span>Position: </span>
            <input name="position" value="{{ rule_and_index.0 + 1 }}" />
          </label>
          <label>
            <span>Tags to match: </span>
            <input id="tag_highlight_rules_{{ rule_and_index.0 }}" name="tags" autocomplete="off" value="{% for tag in rule_and_index.1.tags %}#{{ tag }}{% if !loop.last %} {% endif %}{% endfor %}" />
          </label>
          <label>
            <span>Color to apply:</span>
            <input id="tag_highlight_rules_color_{{ rule_and_index.0 }}_checkbox" name="use_custom_color" type="checkbox" />
            <label for="tag_highlight_rules_color_{{ rule_and_index.0 }}_checkbox">Use custom colors</label>
            <select name="select_color">
              {% if rule_and_index.1.story_color.is_some() %}
                <option value="{{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}" style="background-color: {{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}" selected>Current</option>
                <option value="">None</option>
              {% else %}
                <option value="" selected>None</option>
              {% endif %}
              {% for default_color in persistent.site.default_colors.as_ref() %}
                <option value="{{ default_color.rgba }}" style="background-color: {{ default_color.rgba }}">{{ default_color.name }}</option>
              {% endfor %}
            </select>
            <input
              name="custom_color"
              {% if rule_and_index.1.story_color.is_some() %}
                value="{{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}"
              {% endif %}
            />
          </label>
          <label>
            <span>Symbol to show:</span>
            <input name="symbol" value="{% if rule_and_index.1.story_symbol.is_some() %}{{ rule_and_index.1.story_symbol.as_ref().unwrap() }}{% endif %}" />
          </label>
          <button style="display: inline">Apply changes</button>
        </form>
        <form style="display: inline" action="/settings/@{{ user.username }}/tag_highlight_rules_delete/" method="POST">
          <input type="hidden" name="template_index" value="{{ rule_and_index.0 }}" />
          <button style="display: inline">Delete rule</button>
        </form>
      </fieldset>
      {% endfor %}

      <p>
        Add a new rule:
      </p>
      <fieldset>
        <form style="display: inline" action="/settings/@{{ user.username }}/tag_highlight_rules_create/" method="POST">
          <label>
            <span>Tags to match:</span>
            <input id="tag_highlight_rules_add" name="tags" autocomplete="off" value="" />
          </label>
          <label>
            <span>Color to apply:</span>
            <input id="tag_highlight_rules_color_add_checkbox" name="use_custom_color" type="checkbox" />
            <label for="tag_highlight_rules_color_add_checkbox">Use custom colors</label>
            <select name="select_color">
              <option value="" selected>None</option>
              {% for default_color in persistent.site.default_colors.as_ref() %}
                <option value="{{ default_color.rgba }}" style="background-color: {{ default_color.rgba }}">{{ default_color.name }}</option>
              {% endfor %}
            </select>
            <input name="custom_color" />
          </label>
          <span>Symbol to show:</span>
          <input name="symbol" value="" />
          <button style="display: inline">Add new rule</button>
        </form>
      </fieldset>
    </details>
  </fieldset>
</article>

<article class="settings" id="exclusion_list">
  <fieldset>
    <legend>
      <h3>Exclusion lists</h3>
    </legend>

    {% if show_excluded_tags_confirmation %}
    <section class="confirmation_box">
      <p>
        Excluded tags were updated successfully !
      </p>
    </section>
    {% endif %}

    {% if show_author_excluded_confirmation %}
    <section class="confirmation_box">
      <p>
        Author was excluded successfully !
      </p>
    </section>
    {% endif %}

    {% if show_author_unexcluded_confirmation %}
    <section class="confirmation_box">
      <p>
        Author was un-excluded successfully !
      </p>
    </section>
    {% endif %}

    <form action="/settings/@{{ user.username }}/excluded_tags/" method="POST">
      <p>
        List any tags you wish to exclude below :
        <input type="text" id="excluded_tag_list" autocomplete="off" name="excluded_tags" value="{{ excluded_tags }}" class="input-full-width" />
      </p>
      <p><input type="submit" value="Update your list of excluded tags" /></p>
    </form>
    {% if !excluded_authors.is_empty() %}
      <p>
        Excluded authors :
      </p>
      <ul>
        {% for author in excluded_authors %}
        <li>
          <form action="/settings/@{{ user.username }}/unexclude_author/" method="POST">
            <input type="hidden" name="author_name" value="{{ author.username }}">
            <a href="/@{{ author.username }}/">{{ author.display_name }} (@{{ author.username }})</a>
            <input type="submit" value="Un-exclude">
          </form>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="/settings/@{{ user.username }}/exclude_author/" method="POST">
      <p>
        Exclude this author :
        <input type="text" name="author_name" />
      </p>
      <p><input type="submit" value="Exclude" /></p>
    </form>
  </fieldset>
</article>

<h2>New stories</h2>

<article class="settings" id="publication">
  <form action="/settings/@{{ user.username }}/default_publication/" method="POST">
    <fieldset>
      <legend>
        <h3>Default publication date</h3>
      </legend>

      {% if show_publication_confirmation %}
      <section class="confirmation_box">
        <p>
          Default publication settings were updated successfully !
        </p>
      </section>
      {% endif %}

      <ul>
        <li>
          <label>
            <input type="radio" name="default_publication" value="none" {% if user.settings.preferred_publication_mode == models::users::PreferredPublicationMode::DoNotPublish %}checked{% endif %} />
            Do not automatically publish your stories
          </label>
        </li>
        <li>
          <input type="radio" id="default_publication_future_date" name="default_publication" value="future_date" {% if user.settings.preferred_publication_mode == models::users::PreferredPublicationMode::PublishLater %}checked{% endif %} />
          <label for="default_publication_future_date">Publish new stories and chapters at a set date in the future</label>
          <div id="future_date_extra_informations">
            <label>
              Preferred publication day (select none for the next day)
              <select name="day">
                <option value="none" {% if user.settings.preferred_publication_day.is_none() %}selected{% endif %}>None (next day)</option>
                <option value="mon" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Mon) %}selected{% endif %}>Monday</option>
                <option value="tue" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Tue) %}selected{% endif %}>Tuesday</option>
                <option value="wed" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Wed) %}selected{% endif %}>Wednesday</option>
                <option value="thu" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Thu) %}selected{% endif %}>Thursday</option>
                <option value="fri" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Fri) %}selected{% endif %}>Friday</option>
                <option value="sat" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Sat) %}selected{% endif %}>Saturday</option>
                <option value="sun" {% if user.settings.preferred_publication_day == std::option::Option::Some(chrono::Weekday::Sun) %}selected{% endif %}>Sunday</option>
              </select>
            </label>
            <label>Hour of publication (UTC) : <input type="text" name="hour" value="{{ user.settings.preferred_publication_hour }}" /> </label>
          </div>
        </li>
        <li>
          <label>
            <input type="radio" name="default_publication" value="immediate" {% if user.settings.preferred_publication_mode == models::users::PreferredPublicationMode::PublishNow %}checked{% endif %} />
            Publish new stories and chapters immediately
          </label>
        </li>
      </ul>
      <p><input type="submit" value="Update your default publication settings" /></p>
    </fieldset>
  </form>
</article>

<article class="settings" id="interaction">
  <form action="/settings/@{{ user.username }}/default_interaction/" method="POST">
    <fieldset>
      <legend>
        <h3>Default comment and suggestion features</h3>
      </legend>

      {% if show_interaction_confirmation %}
      <section class="confirmation_box">
        <p>
          Default comment and suggestion settings were updated successfully !
        </p>
      </section>
      {% endif %}

      <p>Suggestions</p>
      <ul>
        <li>
          <label>
            <input type="radio" name="recommendations" value="immediate" {% if user.settings.preferred_recommendations_enabled == models::stories::RecommendationsState::Disabled %}checked{% endif %} />
            Do not allow users to suggest new stories
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="recommendations" value="user_only" {% if user.settings.preferred_recommendations_enabled == models::stories::RecommendationsState::UserOnly %}checked{% endif %} />
            Enable suggestion on new stories but limit them to the user's page
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="recommendations" value="enabled" {% if user.settings.preferred_recommendations_enabled == models::stories::RecommendationsState::Enabled %}checked{% endif %} />
            Enable suggestion on new stories, show the recommendations on the story page
          </label>
        </li>
      </ul>
      <p>Comments</p>
      <ul>
        <li>
          <label>
            <input type="radio" name="comments" value="disabled" {% if !user.settings.preferred_comments_enabled %}checked{% endif %}  />
            Do not allow comments on new stories
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="comments" value="enabled" {% if user.settings.preferred_comments_enabled %}checked{% endif %} />
            Enable comments on new stories
          </label>
        </li>
      </ul>
      <p><input type="submit" value="Update your default features" /></p>
    </fieldset>
  </form>
</article>

<article class="settings" id="author-notes">
  <form action="/settings/@{{ user.username }}/default_notes/" method="POST">
    <fieldset>
      <legend>
        <h3>Default author notes for new stories/chapters</h3>
      </legend>

      {% if show_author_notes_confirmation %}
      <section class="confirmation_box">
        <p>
          Default author notes were updated successfully !
        </p>
      </section>
      {% endif %}

      <label>
        <p>Default foreword</p>
        <textarea name="default_foreword" id="default-foreword" class="story-editor author-note">
          {{ user.default_foreword|san }}
        </textarea>
      </label>
      <label>
        <p>Default afterword</p>
        <textarea name="default_afterword" id="default-afterword" class="story-editor author-note">
          {{ user.default_afterword|san }}
        </textarea>
      </label>
      <p><input type="submit" value="Update your default author notes" /></p>
    </fieldset>
  </form>
</article>

<h2>Account management</h2>

<article class="settings" id="tokens">
  <fieldset>
    <legend>
      <h3>Manage your login and devices</h3>
    </legend>

    {% if show_token_removed_confirmation %}
    <section class="confirmation_box">
      <p>
        Token was removed successfully !
      </p>
    </section>
    {% endif %}

    <ul>
      {% for token in active_tokens %}
        <form action="/settings/@{{ user.username }}/delete_token/" method="POST">
          {{ token.name }} (last used : {{ token.last_visit }})
          <input type="hidden" name="token_name" value="{{ token.name }}" />
          <input type="submit" value="Log out" />
        </form>
      {% endfor %}
    </ul>
  </fieldset>
</article>

<article class="gdpr" id="gdpr">
  <fieldset>
    <legend>
      <h3>Request your account's data</h3>
    </legend>
    <a href="/gdpr_data_request/get_zip/">Click here to download all the data associated with your account</a>
  </fieldset>
</article>

<article class="settings" id="password">
  <form action="/settings/@{{ user.username }}/password/" method="POST">
    <fieldset>
      <legend>
        <h3>Change your password</h3>
      </legend>

      {% if show_password_changed_confirmation %}
      <section class="confirmation_box">
        <p>
          Password was changed successfully !
        </p>
      </section>
      {% endif %}

      <p>
        <label>
          Enter your old password:<br />
          <input type="password" name="old_password" />
        </label>
      </p>
      <p>
        <label>
          New password:<br />
          <input type="password" autocomplete="new-password" name="password" />
        </label>
      </p>
      <p>
        <label>
          Confirm Password:<br />
          <input type="password" autocomplete="new-password" name="password_confirm" />
        </label>
      </p>
      <p><input type="submit" value="Update your password" /></p>
    </fieldset>
  </form>
</article>

{% if !user.deactivated_by_user %}
<article class="deactivation" id="deactivate">
  <form action="/settings/@{{ user.username }}/deactivate/" method="POST">
    <fieldset>
      <legend>
        <h3>Deactivate your account</h3>
      </legend>

      {% if show_activate_confirmation %}
      <section class="confirmation_box">
        <p>
          Account was re-activated successfully !
        </p>
      </section>
      {% endif %}

      <p>
        Note : If you deactivate your account, all your stories, recommendations and comments will be hidden.
        However, you can restore your account at any time if you wish to.<br />
        <br />
        Note : You need to deactivate your account before being able to delete it.
      </p>
      <p>
        <label>
          Enter your password:<br />
          <input type="password" name="old_password" />
        </label>
      </p>
      <p><input type="submit" value="Deactivate your account" /></p>
    </fieldset>
  </form>
</article>
{% endif %}

<article class="deletion" id="delete">
  {% if user.deactivated_by_user || user.banned_by_moderator %}
    {% match account_deletion_request %}
      {% when Some with (deletion_request) %}
        {% if deletion_request.1 %}
          <form action="/settings/@{{ user.username }}/cancel_delete/" method="POST">
            <fieldset>
              <legend>
                <h3 style="color: green;">Cancel account deletion</h3>
              </legend>

              {% if show_delete_confirmation %}
              <section class="confirmation_box">
                <p>
                  Account deletion was planified successfully !
                </p>
              </section>
              {% endif %}

              <p>
                Click on the button to cancel the planified deletion of your account.<br />
                <br />
                Note : Once your account is deleted, all your stories, recommendations and comments will be irreversibly deleted as well.
              </p>
              <p><input type="submit" value="Cancel the deletion of your account" /></p>
            </fieldset>
          </form>
        {% else %}
          <fieldset>
            <legend>
              <h3 style="color: orange;">Cancel account deletion</h3>
            </legend>

            {% if show_delete_confirmation %}
            <section class="confirmation_box">
              <p>
                Account deletion was planified successfully !
              </p>
            </section>
            {% endif %}

            <p>
              The account deletion was requested by a moderator, and cannot be cancelled by the user.<br />
              <a href="/moderation_contact/">Click here to contact the moderation team</a>
            </p>
          </fieldset>
        {% endif %}
      {% when None %}
        <form action="/settings/@{{ user.username }}/delete/" method="POST">
          <fieldset>
            <legend>
              <h3 style="color: red;">Account deletion</h3>
            </legend>

            {% if show_cancel_delete_confirmation %}
            <section class="confirmation_box">
              <p>
                Account deletion was cancelled successfully !
              </p>
            </section>
            {% endif %}

            <p>
              Click on the button to planify the deletion of your account. After selecting this option, you will have a few days to cancel it if needed.<br />
              <br />
              Note : Once your account is deleted, all your stories, recommendations and comments will be irreversibly deleted as well.
            </p>
            <p><input type="submit" value="Request the deletion your account" /></p>
          </fieldset>
        </form>
    {% endmatch %}
  {% else %}
    <fieldset>
      <legend>
        <h3 style="color: red;">Account deletion (requires deactivation first)</h3>
      </legend>

      {% if show_cancel_delete_confirmation %}
      <section class="confirmation_box">
        <p>
          Account deletion was cancelled successfully !
        </p>
      </section>
      {% endif %}

      <p>
        You need to deactivate your account before deleting it.
      </p>
    </fieldset>
  {% endif %}
</article>

<script type="application/javascript">
  "use strict";

  setup_tag_autocompletion("excluded_tag_list");

  {% for rule_and_index in current_tag_highlight_rules %}
  setup_tag_autocompletion("tag_highlight_rules_{{ rule_and_index.0 }}");
  {% endfor %}
  setup_tag_autocompletion("tag_highlight_rules_add");

  var details_error_message = document.getElementById("details_error_message");
  var details_update_button = document.getElementById("details_update_button");
</script>

{% include "common/rich_editor_init.html" %}

{% endblock %}
