{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block title %}
Snaps by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Snaps by {{ user.display_name }}</h1>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/{{ intertextual::constants::USER_APPROVAL_URL }}/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<article id="main-search-results" class="story-card-grid">
  {% if stories.is_empty() && excluded_stories.is_empty() %}
  <section class="empty-story-card-grid">
    No snaps yet.
  </section>
  {% endif %}
  {% for story in stories %}
    {% call story_card::standard("list".to_string(), story) %}
  {% endfor %}
</article>

{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for story in excluded_stories %}
      {% call story_card::standard("list".to_string(), story) %}
    {% endfor %}
  </article>
</details>
{% endif %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/{{ intertextual::constants::USER_APPROVAL_URL }}/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
