{% extends "common/base.html" %}

{% block title %}
Comments by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<h1>Comments by <a href="/@{{ user.username }}">{{ user.display_name }}</a></h1>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/my_comments/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% for comment in comments %}
<article class="comment" id="comment_{{ comment.id }}">
  <header class="comment-header">
    <a class="comment-username" href="/{{ comment.story.author_path }}/{{ comment.story.url_fragment }}/{{ comment.chapter.chapter_number }}/">
      {% if comment.chapter.chapter_number > 1 %}
        {{ comment.chapter.chapter_title_or_number(false) }}
        -
      {% endif %}
      {{ comment.story.title }}
    </a>
    <a class="comment-time" href="/{{ comment.story.author_path }}/{{ comment.story.url_fragment }}/{{ comment.chapter.chapter_number }}/comments/{{ comment.id }}/">{{ comment.created }}</a>
    {% match comment.edited %}
      {% when Some with (edited) %}
        <a class="comment-time" href="/{{ comment.story.author_path }}/{{ comment.story.url_fragment }}/{{ comment.chapter.chapter_number }}/comments/{{ comment.id }}/">(edited {{ edited }})</a>
      {% when None %}
    {% endmatch %}

    {% if is_administrator %}
      <a class="comment-admin-actions" href="/admin/comments/{{ comment.id }}/">(admin actions)</a>
    {% endif %}
    {% if comment.can_delete %}
      <a class="comment-delete" href="/{{ comment.story.author_path }}/{{ comment.story.url_fragment }}/{{ comment.chapter.chapter_number }}/comments/delete/{{ comment.id }}/">(delete)</a>
    {% endif %}
    {% if comment.can_edit %}
      <a class="comment-edit" href="/{{ comment.story.author_path }}/{{ comment.story.url_fragment }}/{{ comment.chapter.chapter_number }}/comments/edit/{{ comment.id }}/">(edit)</a>
    {% endif %}
  </header>
  <section class="comment-contents">
    {{ comment.formatted_comment|san|safe }}
  </section>
</article>
{% endfor %}

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/my_comments/@{{ user.username }}/?start={{ page_list_entry.start }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
